<span
  <% if session_value.present? %>
    class="badge" aria-hidden="false"
  <% else %>
    class="badge hidden" aria-hidden="true"
  <% end %>
  title="Options selected">
  <%= session_value.present? ? session_value.size : 0 %>
</span>
