<%= link_to query_results_path(params_copy.merge(format: "csv")) do %>
  <button type="button" class="btn btn-default">
    Download as CSV <span class="glyphicon glyphicon-download-alt"></span>
  </button>
<% end %>
