<h2>Canned Queries</h2>

<p class="lead">Three additional data tables are not accessible within in the SPARC relational database.</p>
 
<p><strong>Select Artifacts:</strong>  This analysis table contains data on "significant artifacts" identified during fieldwork at Salmon during the 1970s and given separate tracking numbers. During Archaeology Southwest's Salmon Project (2001-2018), these data were checked and the table was edited. In a few cases, new numbers were assigned to match forms in the archive that lacked numbers.
 
<p>As its name ("Select Artifacts") suggests, this is not an exhaustive inventory of all point-provenienced or otherwise special artifacts. This table contains specific artifact descriptions that are not included in other tables. To resolve this, the SPARC team dissolved the SA table by matching FS #s and other contextual information from the SA table with other records in the database.  When matches were found, information from the SA table was added to the matching record in the other table (e.g., the ornament table).  This allowed us to retain the unique information recorded in the SA table without creating duplicate records.
 
<p>It is also the case that some items recorded in the “Select Artifacts” table were never listed in any other inventory or analysis table.  For instance, an ornament might have been recorded in the SA table, but did not exist in the "Ornament" table.  Users may, therefore, be interested in downloading the entire Select Artifacts table. </p>
 
<p>[LINK TO DOWNLOAD CSV OF SELECT ARTIFACTS TABLE]</p>
 
<p>The Salmon Ruins Museum has two other data tables that are not included within SPARC due to the sensitive nature of their contents:  A human burial table and a human osteology table. Qualified individuals may request access to this information. Please note, such requests will be granted at the discretion of the Director of the Salmon Ruins Museum. All inquiries should be directed to:</p>
 
<p>Larry Baker<br/>
Salmon Ruins Museum<br/>
P. O. Box 125<br/>
Bloomfield, NM  87413<br/>
sreducation[at]sisna.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;505-632-2013</p>
