<h3>Canned Queries</h3>

<div class="row buffer-bottom">
  <div class="col-md-6">
    <div class="home_callout">
      <div class="content">
        <div class="inner_content">
        <h4>Samples Queries</h4>
        </div>
        <ul>
          <li>
            Queries to be created
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="home_callout">
      <div class="content">
        <div class="inner_content">
        <h4>Artifacts Queries</h4>
        </div>
        <ul>
          <li>
            Queries to be created
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row buffer-bottom">
  <div class="col-md-6">
    <div class="home_callout">
      <div class="content">
        <div class="inner_content">
        <h4>Features Queries</h4>
        </div>
        <ul>
          <li>
            Queries to be created
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="home_callout">
      <div class="content">
        <div class="inner_content">
        <h4>Strata Queries</h4>
        </div>
        <ul>
          <li>
            Queries to be created
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row buffer-bottom">
  <div class="col-md-6">
    <div class="home_callout">
      <div class="content">
        <div class="inner_content">
        <h4>Images Queries</h4>
        </div>
        <ul>
          <li>
            Queries to be created
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
  </div>
</div>
