<h3>Artifact Search</h3>

<%= render "artifact_nav" %>

<br>

<div class="row">
  <!-- Ceramics tables and search options -->
  <div class="col-md-8">
    This will be the main ceramics query stuff
  </div>

  <%= render "artifact_global_opts" %>
</div>
