<h3>Query</h3>

<ul>
  <li>Samples</li>
  <li><%= link_to "Artifacts", query_category_path("artifacts") %></li>
  <li>Features</li>
  <li>Strata</li>
  <li>Images</li>
  <li>Canned Queries</li>
</ul>
