<h2>Query</h2>

<p class="lead">Search and download archaeological data from Salmon Pueblo.</p>

<p>This query page allows you to search within and across various data tables contained within SPARC (24 tables in all).  Some of these tables are inventories of what was found during the excavation of Salmon Pueblo, others are analysis tables created by research specialists. Each query table includes a brief explanation about who created it and what it contains.</p>

<ul class="nav nav-pills nav-justified query_subnav">
  <%= abstraction_nav %>
</ul>

<div class="illustration query_illustration illustration_right">
  <%= image_tag "pp_query_001.png", class: "", alt: "image of bird on mug handle" %>
  <div class="caption">Mug handle fragment from Room 67W, Stratum F-1-4. <%= link_to "Image 12085", image_path(number: "12085") %>. Photographer Jeff Scovill, August, 1976.</div>
</div>

<p>Using this query page, you can locate records of interest by clicking through a series of options starting with the primary navigation tabs above. You might start by selecting the “Features” tab and then use the Common Search Options” in the left-hand panel to filter results. (These search options include Unit Type, Unit Number, Occupation, Strata, and Feature.) Selecting the “Floor” option within “Strata” from the common search panel on the left would allow you to search for all features associated with floors.</p>

<p>Users can also, for example, search for ceramic records based on excavation context (e.g., ceramics found exclusively within rooms or kivas). To do this, you would select the “Artifacts” tab, then select the “Ceramics” tab on the Artifacts Search page.  Once you are on the Ceramics page, you can select between the various (4) different ceramic data tables.Once you have selected a specific ceramic table of , you can filter your results using the Common Search Options panel on the left.  Selecting the unit type “Kiva” will return all ceramics recovered from kiva contexts.</p>


