<h3>Artifact Search</h3>

<%= render "artifact_nav" %>

<br>

<div class="row">
  <!-- Lithics tables and search options -->
  <div class="col-md-8">


    <ul class="nav nav-tabs" id="myTab">
      <li class=""><a href="#all">All</a></li>
      <li class="active"><a href="#inve">Lithic Inventory</a></li>
      <li><a href="#tool">Lithic Tool</a></li>
      <li><a href="#deb">Lithic Debitage</a></li>
      <li><a href="#obs">Obsidian</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane" id="all">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pulvinar mauris a sapien condimentum, a feugiat nibh pretium. Pellentesque facilisis feugiat ultricies. Suspendisse velit urna, rutrum vitae metus et, finibus ornare nulla. Praesent elit
          dolor, tincidunt vitae maximus at, pulvinar sit amet mi. Duis sit amet nibh pulvinar, convallis sapien et, semper erat. Quisque id urna sapien. Aenean sed fermentum quam. Donec erat augue, lacinia tristique diam ut, rhoncus pellentesque
          elit. Proin gravida blandit mi ac vulputate. Aliquam bibendum arcu a sapien porttitor aliquet. Etiam mattis in arcu sed dapibus. Suspendisse congue, metus sed sagittis dignissim, orci leo ultrices leo, eget pretium nibh erat interdum
          tellus. In in nisl lectus. Morbi eleifend nibh lacinia, pulvinar felis ut, gravida augue.</p>

          <p>Vivamus finibus consectetur augue, eu vestibulum sem sagittis et. Duis quis nibh sollicitudin, auctor sapien et, euismod eros. Maecenas dignissim volutpat elit, at rhoncus quam ultrices vitae. Praesent tempus lectus erat, non congue
            dolor commodo non. Praesent facilisis posuere ligula ac porttitor. Curabitur malesuada facilisis velit vitae condimentum. Pellentesque id tempor augue. Praesent mattis volutpat tempus. Cras sem ligula, mattis a rutrum sed, ultricies
            quis dui. Ut eleifend facilisis sapien vitae molestie.
          </p>
        </div>
        <div class="tab-pane active" id="inve">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="test_search">Text search example </label> <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="We could put some example text here to demonstrate how the search functions. "><span class="sr-only">Information</span></span>
                <input type="text" class="form-control" id="test_search" placeholder="Search Term">
              </div>

              <div class="form-group">
                <label for="test_search">Single option example <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="popover" data-placement="top" title="" data-content="We could put some example text here to demonstrate how the search functions. " data-original-title="About this Search"><span class="sr-only">Information</span></span>
                </label>
                <select class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>

              <div class="form-group">
                <label for="test_search">Multiselect example</label>
                <select multiple="" class="form-control">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <label for="test_search">Multiselect check example</label>
              <div style="max-height: 300px;overflow: auto;">
                <ul class="list-group checked-list-box">
                  <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Option 1</span></label></div></div></li>
                  <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Option 2</span></label></div></div></li>
                  <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Option 3</span></label></div></div></li>
                  <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Option 4</span></label></div></div></li>
                  <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Option 5</span></label></div></div></li>
                  <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Option 6</span></label></div></div></li>
                  <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Option 7</span></label></div></div></li>
                  <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Option 8</span></label></div></div></li>
                  <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Option 9</span></label></div></div></li>
                  <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Option 10</span></label></div></div></li>
                  <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Option 11</span></label></div></div></li>
                  <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Option 12</span></label></div></div></li>
                  <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Option 13</span></label></div></div></li>
                  <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Option 14</span></label></div></div></li>
                  <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Option 15</span></label></div></div></li>
                  <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Option 16</span></label></div></div></li>
                  <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Option 17</span></label></div></div></li>
                  <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Option 18</span></label></div></div></li>
                </ul>

              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-link pull-right">Advanced Search</button>
          </div>

          <br>
          <br>
          <!-- todo find better fix for advanced search breaking box -->

        </div>
        <div class="tab-pane" id="tool">Lithic Tool Searches...</div>
        <div class="tab-pane" id="deb">Lithic Debitage Searches...</div>
        <div class="tab-pane" id="obs">Lithic Obsidian Searches...</div>
      </div>


    </div>
    <!-- /Lithics tables and search options -->
    <!-- common search options -->
    <div class="col-md-4">

      <div class="pull-right">
        <button class="btn btn-danger">Clear all search options</button>
        <button class="btn btn-primary">Submit</button>
      </div>
      <br>
      <br>

      <!-- common search options accordian -->

      <div class="panel-group combined_selections" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Unit
              </a>
              <div class="form-inline pull-right check_all" >
                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="select_all"/> Select All
                  </label>
                </div><!-- /checkbox -->
              </div><!-- /form-inline -->
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <!-- <div class="panel-body"> -->
            <div style="">

              <ul class="list-group checked-list-box">
                <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Room</span></label></div></div></li>
                <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Kiva</span></label></div></div></li>
                <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Other</span></label></div></div></li>
              </ul>

            </div>
            <!-- </div> -->
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Occupation 
              </a>

              <div class="form-inline pull-right check_all" >
                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="select_all"/> Select All
                  </label>
                </div><!-- /checkbox -->
              </div><!-- /form-inline -->
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <!-- <div class="panel-body"> -->
            <div style="">

              <ul class="list-group checked-list-box">
                <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Chacoan</span></label></div></div></li>
                <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Chacoan (Suspected)</span></label></div></div></li>
                <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>San Juan</span></label></div></div></li>
                <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>San Juan (Suspected)</span></label></div></div></li>
                <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Other</span></label></div></div></li>
              </ul>

            </div>
            <!-- </div> -->
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Strata
              </a>
              <div class="form-inline pull-right check_all" >
                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="select_all"/> Select All
                  </label>
                </div><!-- /checkbox -->
              </div><!-- /form-inline -->
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <!-- <div class="panel-body"> -->
            <div style="">

              <ul class="list-group checked-list-box">
                <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Floor</span></label></div></div></li>
                <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Midden (?)</span></label></div></div></li>
                <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Roof Fell</span></label></div></div></li>
                <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Other</span></label></div></div></li>
              </ul>

            </div>
            <!-- </div> -->
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Feature
              </a>
              <div class="form-inline pull-right check_all" >
                <div class="checkbox">
                  <label>
                    <input type="checkbox" class="select_all"/> Select All
                  </label>
                </div><!-- /checkbox -->
              </div><!-- /form-inline -->
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <!-- <div class="panel-body"> -->
            <div style="">

              <ul class="list-group checked-list-box">
                <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Habitation</span></label></div></div></li>
                <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Ritual</span></label></div></div></li>
                <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Construction</span></label></div></div></li>
                <li class="list-group-item"><div class="form-inline" ><div class="checkbox"><label><input type="checkbox"/> <span>Other</span></label></div></div></li>
              </ul>

            </div>
            <!--  </div> -->
          </div>
        </div>
      </div>
      <!-- /common search options accordian -->
    </div>
    <!-- /common search options -->
  </div>
