<%# expected local variables:
  #  classname = class representing db table
  #  column = database column to use
  #  label = use if column_name is not for user display
%>

<div class="form-group">
  <% if !local_assigns[:label].nil? %>
    <%= label_tag column, label %>
  <% else %>
    <%= label_tag column %>
  <% end %>

  <%# dropdown %>
  <%= select_tag column,
      options_from_collection_for_select(
        classname.all,
        "id",
        column,
        params[column]),
      :include_blank => true,
      class: "form-control"
  %>
</div>
