<h3>Credits</h3>

<p><a href="https://www.neh.gov/" target="_blank">National Endowment for the Humanities <span class="glyphicon glyphicon-new-window"/></a></p>
<p><a href="https://www.archaeologysouthwest.org/" target="_blank">Archaeology Southwest <span class="glyphicon glyphicon-new-window"/></a></p>
<p><a href="https://www.salmonruins.com" target="_blank">Salmon Ruins Museum & Library<span class="glyphicon glyphicon-new-window"/></a></p>
<p>San Juan County Museum Association</p>
<p><a href="https://cdrh.unl.edu" target="_blank">University of Nebraska-Lincoln - Center for Digital Research in the Humanities <span class="glyphicon glyphicon-new-window"/></a></p>
<p><a href="http://www.iath.virginia.edu/" target="_blank">University of Virginia - Institute for Advanced Technology in the Humanities <span class="glyphicon glyphicon-new-window"/></a></p>
