<h3>People</h3>

<h4>Staff</h4>

<h5>Project Leads:</h5>

<ul class="simple_list">
  <li><strong>Carrie C. Heitman</strong>, University of Nebraska-Lincoln/Center for Digital Research in the Humanities, PI & Institutional Lead</li>
  <li><strong>Paul F. Reed</strong>, Archaeology Southwest, Co-PI &amp; Institutional Lead</li>
  <li><strong>Worthy Martin</strong>, University of Virginia/Institute for Advanced Technology in the Humanities, Institutional Lead</li>
  <li><strong>Larry Baker</strong>, Salmon Ruins Museum, Institutional Lead</li>
</ul>

<h5>Project Team:</h5>

<ul class="simple_list">
  <li><strong>Robbie Bingler</strong>, IATH Senior Programmer Analyst</li>
  <li><strong>Shayne Brandon</strong>, IATH Systems Administrator</li>
  <li><strong>Karin Dalziel</strong>, CDRH Digital Development Manager &amp; Designer</li>
  <li><strong>Jessica Dussault</strong>, CDRH Programmer/Analyst</li>
  <li><strong>Emma Gibson</strong>, Arch SW Data Specialist</li>
  <li><strong>Annie Reiva</strong>, CDRH Grad Research Assistant</li>
  <li><strong>Doug Ross</strong>, IATH Programmer Analyst</li>
  <li><strong>Greg Tunink</strong>, CDRH Programmer/Analyst</li>
  <li><strong>Laura Weakly</strong>, CDRH, Metadata Encoding Specialist</li>
</ul>

<h5>Project Advisors:</h5>

<ul class="simple_list">
  <li><strong>William H. Doelle</strong>, Arch SW, Advisor</li>
  <li><strong>Stephen Plog</strong>, UVA, Advisor</li>
  <li><strong>Jennifer Thoegersen</strong>, UNL, Digital Data Curation Specialist</li>
  <li><strong>Katherine Walter</strong>, CDRH, Advisor</li>
</ul>

<h5>Project Research Assistants, Volunteers, and Consultants:</h5>

<ul class="simple_list">
  <li><strong>Erin Brooks</strong>, SRM, Data Entry Volunteer</li>
  <li><strong>Catherine Elliott</strong>, UNL UCARE Student</li>
  <li><strong>Nancy Espinosa</strong>, SRM, Curator</li>
  <li><strong>Brianna Haberyan</strong>, UNL UCARE Student</li>
  <li><strong>Kelsey Hoppes</strong>, UNL Research Assistant</li>
  <li><strong>Sydney Tillotson</strong>, UNL, UCARE Student</li>
</ul>
