<h3>People</h3>

<h4>Staff</h4>

<h5>Project Leads:</h5>

<ul class="simple_list">
  <li><strong>Carrie C. Heitman</strong>, University of Nebraska-Lincoln/Center for Digital Research in the Humanities, PI &amp; Institutional Lead</li>
  <li><strong>Paul F. Reed</strong>, Archaeology Southwest, Co-PI &amp; Institutional Lead</li>
  <li><strong>Worthy Martin</strong>, University of Virginia/Institute for Advanced Technology in the Humanities, Institutional Lead</li>
  <li><strong>Larry Baker</strong>, Salmon Ruins Museum, Institutional Lead</li>
</ul>

<h5>Project Team:</h5>

<ul class="simple_list">
  <li><strong>Robbie Bingler</strong>, IATH Senior Programmer Analyst</li>
  <li><strong>Shayne Brandon</strong>, IATH Systems Administrator</li>
  <li><strong>Karin Dalziel</strong>, CDRH Digital Development Manager &amp; Designer</li>
  <li><strong>Jessica Dussault</strong>, CDRH Programmer/Analyst</li>
  <li><strong>Emma Gibson</strong>, Arch SW Data Specialist</li>
  <li><strong>Annie Reiva</strong>, CDRH Grad Research Assistant</li>
  <li><strong>Doug Ross</strong>, IATH Programmer Analyst</li>
  <li><strong>Greg Tunink</strong>, CDRH Programmer/Analyst</li>
  <li><strong>Laura Weakly</strong>, CDRH, Metadata Encoding Specialist</li>
</ul>

<h5>Project Advisors:</h5>

<ul class="simple_list">
  <li><strong>William H. Doelle</strong>, Arch SW, Advisor</li>
  <li><strong>Stephen Plog</strong>, UVA, Advisor</li>
  <li><strong>Jennifer Thoegersen</strong>, UNL, Digital Data Curation Specialist</li>
  <li><strong>Katherine Walter</strong>, CDRH, Advisor</li>
</ul>

<h5>Project Research Assistants, Volunteers, and Consultants:</h5>

<ul class="simple_list">
  <li><strong>Erin Brooks</strong>, SRM, Data Entry Volunteer</li>
  <li><strong>Catherine Elliott</strong>, UNL UCARE Student</li>
  <li><strong>Nancy Espinosa</strong>, SRM, Curator</li>
  <li><strong>Brianna Haberyan</strong>, UNL UCARE Student</li>
  <li><strong>Kelsey Hoppes</strong>, UNL Research Assistant</li>
  <li><strong>Sydney Tillotson</strong>, UNL, UCARE Student</li>
</ul>

<br/><br/>
<h5>San Juan Valley Archaeological Project</h5>

<p>List of San Juan Valley Archaeological Project Staff (1970-1980) who worked at Salmon Pueblo and their Computer Code Initials.</p>

<table class="table table-condensed">
  <tbody>
    <tr>
      <td>
        <p>Code</p>
      </td>

      <td>
        <p>Name</p>
      </td>

      <td>
        <p>Code</p>
      </td>

      <td>
        <p>Name</p>
      </td>

      <td>
        <p>Code</p>
      </td>

      <td>
        <p>Name</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>AASS</p>
      </td>

      <td>
        <p>Al Sando</p>
      </td>

      <td>
        <p>ADAM</p>
      </td>

      <td>
        <p>Keith Adams</p>
      </td>

      <td>
        <p>AGMM</p>
      </td>

      <td>
        <p>A. Martin</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>AGOG</p>
      </td>

      <td>
        <p>Andy Sprung</p>
      </td>

      <td>
        <p>AHSW</p>
      </td>

      <td>
        <p>A. Helene Warren</p>
      </td>

      <td>
        <p>AIMP</p>
      </td>

      <td>
        <p>Anita Impellizeri</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>ALBA</p>
      </td>

      <td>
        <p>Alan Barr</p>
      </td>

      <td>
        <p>ALCR</p>
      </td>

      <td>
        <p>Alan C. Reed</p>
      </td>

      <td>
        <p>ALIC</p>
      </td>

      <td>
        <p>Alice Berensik</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>AMCO</p>
      </td>

      <td>
        <p>Amy Cockroft</p>
      </td>

      <td>
        <p>AMEM</p>
      </td>

      <td>
        <p>Angela Miklatek</p>
      </td>

      <td>
        <p>AMEN</p>
      </td>

      <td>
        <p>Alan Mendelson</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>ANKR</p>
      </td>

      <td>
        <p>Anita Kramer</p>
      </td>

      <td>
        <p>ANNE</p>
      </td>

      <td>
        <p>Anne Stehli</p>
      </td>

      <td>
        <p>APIE</p>
      </td>

      <td>
        <p>Anne Pierce</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>APRI</p>
      </td>

      <td>
        <p>April Oswald</p>
      </td>

      <td>
        <p>AREM</p>
      </td>

      <td>
        <p>Lisa Kramer</p>
      </td>

      <td>
        <p>ARMY</p>
      </td>

      <td>
        <p>Amy Lou Francisco</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>ASPY</p>
      </td>

      <td>
        <p>Dwight Aspinwall</p>
      </td>

      <td>
        <p>BARA</p>
      </td>

      <td>
        <p>Susan Bara</p>
      </td>

      <td>
        <p>BARB</p>
      </td>

      <td>
        <p>Barbara Clyde</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>BARF</p>
      </td>

      <td>
        <p>Barbara Fiedler</p>
      </td>

      <td>
        <p>BARY</p>
      </td>

      <td>
        <p>Barry Rolett</p>
      </td>

      <td>
        <p>BSCA</p>
      </td>

      <td>
        <p>Betsy Sandin</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>BEAN</p>
      </td>

      <td>
        <p>Jim Yingst</p>
      </td>

      <td>
        <p>BEAR</p>
      </td>

      <td>
        <p>Tibere Del Ranco</p>
      </td>

      <td>
        <p>BEGO</p>
      </td>

      <td>
        <p>Ben Gonzales</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>BENR</p>
      </td>

      <td>
        <p>Ben Robertson</p>
      </td>

      <td>
        <p>BENT</p>
      </td>

      <td>
        <p>Barbara Bently</p>
      </td>

      <td>
        <p>BETS</p>
      </td>

      <td>
        <p>Betsy Burgess-Terrell</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>BETW</p>
      </td>

      <td>
        <p>Betty Wenninger</p>
      </td>

      <td>
        <p>BIGT</p>
      </td>

      <td>
        <p>Tom Fiksdal</p>
      </td>

      <td>
        <p>BILE</p>
      </td>

      <td>
        <p>Bill Lehnert</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>BILL</p>
      </td>

      <td>
        <p>Bill Sweetland</p>
      </td>

      <td>
        <p>BIRD</p>
      </td>

      <td>
        <p>Mike Bird</p>
      </td>

      <td>
        <p>BKCB</p>
      </td>

      <td>
        <p>Ben Reinhardt</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>BOBC</p>
      </td>

      <td>
        <p>Bob Carra</p>
      </td>

      <td>
        <p>BOOB</p>
      </td>

      <td>
        <p>Bob Lawrence</p>
      </td>

      <td>
        <p>BRAN</p>
      </td>

      <td>
        <p>Brenda Randolph</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>BRAY</p>
      </td>

      <td>
        <p>Carol Braymiller</p>
      </td>

      <td>
        <p>BREN</p>
      </td>

      <td>
        <p>Brenda Worden</p>
      </td>

      <td>
        <p>BRET</p>
      </td>

      <td>
        <p>Linda Linnaberry</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>BRIA</p>
      </td>

      <td>
        <p>Brian Cannon</p>
      </td>

      <td>
        <p>BRON</p>
      </td>

      <td>
        <p>Gordon Bronitsky</p>
      </td>

      <td>
        <p>BSPN</p>
      </td>

      <td>
        <p>Barbara Pennington</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>BUCK</p>
      </td>

      <td>
        <p>Kiven Buchannon</p>
      </td>

      <td>
        <p>BURR</p>
      </td>

      <td>
        <p>Brad Vierra</p>
      </td>

      <td>
        <p>BUSS</p>
      </td>

      <td>
        <p>Bill Bussman</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>BUYS</p>
      </td>

      <td>
        <p>Bartholomew U.Y.Smith</p>
      </td>

      <td>
        <p>CAKE</p>
      </td>

      <td>
        <p>Cindy Kennedy</p>
      </td>

      <td>
        <p>CALJ</p>
      </td>

      <td>
        <p>Carole Jackson-McClellan</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>CALP</p>
      </td>

      <td>
        <p>Carolyn Pippin</p>
      </td>

      <td>
        <p>CAMC</p>
      </td>

      <td>
        <p>Cathy Cameron</p>
      </td>

      <td>
        <p>CAMP</p>
      </td>

      <td>
        <p>Barbara Campbell</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>CAPE</p>
      </td>

      <td>
        <p>Carol Phelps</p>
      </td>

      <td>
        <p>CARL</p>
      </td>

      <td>
        <p>Carl Johnson</p>
      </td>

      <td>
        <p>CASB</p>
      </td>

      <td>
        <p>Carol Bosch</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>CAYS</p>
      </td>

      <td>
        <p>Cheryl Smith-Williams</p>
      </td>

      <td>
        <p>CBAL</p>
      </td>

      <td>
        <p>Cynthia Ballentine</p>
      </td>

      <td>
        <p>CCIW</p>
      </td>

      <td>
        <p>Cynthia Irwin-Williams</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>CCOE</p>
      </td>

      <td>
        <p>Carol Coe</p>
      </td>

      <td>
        <p>CEPP</p>
      </td>

      <td>
        <p>Susan Ceppi</p>
      </td>

      <td>
        <p>CEST</p>
      </td>

      <td>
        <p>Caroline Stern</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>CGMS</p>
      </td>

      <td>
        <p>Carolyn Smith</p>
      </td>

      <td>
        <p>CHAR</p>
      </td>

      <td>
        <p>Charlotte Griffin</p>
      </td>

      <td>
        <p>CHAV</p>
      </td>

      <td>
        <p>Bob Chaves</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>CHER</p>
      </td>

      <td>
        <p>Chuck Culpepper</p>
      </td>

      <td>
        <p>CHMN</p>
      </td>

      <td>
        <p>Chantal Manoncourt</p>
      </td>

      <td>
        <p>CHVP</p>
      </td>

      <td>
        <p>Charles Pyle</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>CLAY</p>
      </td>

      <td>
        <p>Clay Bedford</p>
      </td>

      <td>
        <p>CMAZ</p>
      </td>

      <td>
        <p>Cynthia Zawadski</p>
      </td>

      <td>
        <p>CMHA</p>
      </td>

      <td>
        <p>Charles Haecker</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>CMUC</p>
      </td>

      <td>
        <p>Cheryl Muceus</p>
      </td>

      <td>
        <p>CNOX</p>
      </td>

      <td>
        <p>Candace Ojala</p>
      </td>

      <td>
        <p>COLA</p>
      </td>

      <td>
        <p>Constance Lardas</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>CREP</p>
      </td>

      <td>
        <p>Chris Repa</p>
      </td>

      <td>
        <p>CRIS</p>
      </td>

      <td>
        <p>Christian Garragues</p>
      </td>

      <td>
        <p>CRIS</p>
      </td>

      <td>
        <p>Christine Erickson</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>CUPL</p>
      </td>

      <td>
        <p>Cupie Lervis</p>
      </td>

      <td>
        <p>CWNE</p>
      </td>

      <td>
        <p>Charles Nelson</p>
      </td>

      <td>
        <p>DAMN</p>
      </td>

      <td>
        <p>Bruce Burns</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>DANB</p>
      </td>

      <td>
        <p>Dan Becker</p>
      </td>

      <td>
        <p>DANG</p>
      </td>

      <td>
        <p>Dan Greenbaum</p>
      </td>

      <td>
        <p>DANL</p>
      </td>

      <td>
        <p>Dan Landis</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>DASI</p>
      </td>

      <td>
        <p>David Side</p>
      </td>

      <td>
        <p>DATR</p>
      </td>

      <td>
        <p>Daniel Reff</p>
      </td>

      <td>
        <p>DAVE</p>
      </td>

      <td>
        <p>Dave Hipp</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>DAVL</p>
      </td>

      <td>
        <p>Dave Lentz</p>
      </td>

      <td>
        <p>DAWS</p>
      </td>

      <td>
        <p>Sarah Bowman</p>
      </td>

      <td>
        <p>DCGB</p>
      </td>

      <td>
        <p>David Buergler</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>DEAL</p>
      </td>

      <td>
        <p>Ed Deal</p>
      </td>

      <td>
        <p>DEBI</p>
      </td>

      <td>
        <p>Debbie Sturtevant</p>
      </td>

      <td>
        <p>DELA</p>
      </td>

      <td>
        <p>Debra L. Autrey</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>DELC</p>
      </td>

      <td>
        <p>Debbie Church</p>
      </td>

      <td>
        <p>DELW</p>
      </td>

      <td>
        <p>Debra Wood</p>
      </td>

      <td>
        <p>DENI</p>
      </td>

      <td>
        <p>Denis Tillar</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>DENS</p>
      </td>

      <td>
        <p>Dennis Sussex</p>
      </td>

      <td>
        <p>DGAR</p>
      </td>

      <td>
        <p>Don Garcia</p>
      </td>

      <td>
        <p>DICI</p>
      </td>

      <td>
        <p>Diane Civic</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>DICK</p>
      </td>

      <td>
        <p>Dick Nissen</p>
      </td>

      <td>
        <p>DIIV</p>
      </td>

      <td>
        <p>Diane Ives</p>
      </td>

      <td>
        <p>DING</p>
      </td>

      <td>
        <p>David Ingle</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>DLYT</p>
      </td>

      <td>
        <p>Don Lytle</p>
      </td>

      <td>
        <p>DMEC</p>
      </td>

      <td>
        <p>Ruth Barach</p>
      </td>

      <td>
        <p>DOCA</p>
      </td>

      <td>
        <p>Dominique Camus</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>DOCK</p>
      </td>

      <td>
        <p>Harry Hadlock</p>
      </td>

      <td>
        <p>DOGO</p>
      </td>

      <td>
        <p>Doug Glodsmith</p>
      </td>

      <td>
        <p>DOJS</p>
      </td>

      <td>
        <p>Dorothy Shelton</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>DOLA</p>
      </td>

      <td>
        <p>Don Lavash</p>
      </td>

      <td>
        <p>DOML</p>
      </td>

      <td>
        <p>Dora Miller</p>
      </td>

      <td>
        <p>DONC</p>
      </td>

      <td>
        <p>Don Clifton</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>DONG</p>
      </td>

      <td>
        <p>Don Gerowtiz</p>
      </td>

      <td>
        <p>DONY</p>
      </td>

      <td>
        <p>Donna Yoden</p>
      </td>

      <td>
        <p>DORT</p>
      </td>

      <td>
        <p>Dorothy Easton</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>DOTS</p>
      </td>

      <td>
        <p>Dorothy Snell</p>
      </td>

      <td>
        <p>DOUE</p>
      </td>

      <td>
        <p>Jim Douell</p>
      </td>

      <td>
        <p>DOUG</p>
      </td>

      <td>
        <p>Doug Campbell</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>DROL</p>
      </td>

      <td>
        <p>Helen Pogachnik</p>
      </td>

      <td>
        <p>DSON</p>
      </td>

      <td>
        <p>John Davidson</p>
      </td>

      <td>
        <p>DURA</p>
      </td>

      <td>
        <p>Steve Durand</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>DWRJ</p>
      </td>

      <td>
        <p>Donna Janecka</p>
      </td>

      <td>
        <p>EAST</p>
      </td>

      <td>
        <p>Bob Dauster</p>
      </td>

      <td>
        <p>EDDY</p>
      </td>

      <td>
        <p>Beth Clancy</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>EDMI</p>
      </td>

      <td>
        <p>Ed Mimiaga</p>
      </td>

      <td>
        <p>EDZI</p>
      </td>

      <td>
        <p>Ed Snorkrythm</p>
      </td>

      <td>
        <p>EICR</p>
      </td>

      <td>
        <p>Eileen Cross</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>EJMC</p>
      </td>

      <td>
        <p>Beth McDonald</p>
      </td>

      <td>
        <p>EJNB</p>
      </td>

      <td>
        <p>Joan Nelson</p>
      </td>

      <td>
        <p>EKIM</p>
      </td>

      <td>
        <p>Michael Samuels</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>ELIS</p>
      </td>

      <td>
        <p>Elizabeth Yanucci</p>
      </td>

      <td>
        <p>ELWA</p>
      </td>

      <td>
        <p>Betty Ayer</p>
      </td>

      <td>
        <p>EMHG</p>
      </td>

      <td>
        <p>Emily Barber</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>EMIL</p>
      </td>

      <td>
        <p>Emily Robertson</p>
      </td>

      <td>
        <p>EMMY</p>
      </td>

      <td>
        <p>Emily Grimes</p>
      </td>

      <td>
        <p>ENGL</p>
      </td>

      <td>
        <p>Ann Englehart</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>ERIC</p>
      </td>

      <td>
        <p>Eric Wohlgamuth</p>
      </td>

      <td>
        <p>ERIN</p>
      </td>

      <td>
        <p>Erin Foley</p>
      </td>

      <td>
        <p>ERRD</p>
      </td>

      <td>
        <p>Terry Delbene</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>EUBA</p>
      </td>

      <td>
        <p>Eunice Barkes</p>
      </td>

      <td>
        <p>FAIT</p>
      </td>

      <td>
        <p>Faith Kaliski</p>
      </td>

      <td>
        <p>FERN</p>
      </td>

      <td>
        <p>Susan Piotter</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>FIFI</p>
      </td>

      <td>
        <p>Terry Fifield</p>
      </td>

      <td>
        <p>FINK</p>
      </td>

      <td>
        <p>Pam Fink</p>
      </td>

      <td>
        <p>FINN</p>
      </td>

      <td>
        <p>Jennie Finnie</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>FILL</p>
      </td>

      <td>
        <p>Phil Shelley</p>
      </td>

      <td>
        <p>FJCP</p>
      </td>

      <td>
        <p>Frank Peryea</p>
      </td>

      <td>
        <p>FLAK</p>
      </td>

      <td>
        <p>William Flack</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>FLAM</p>
      </td>

      <td>
        <p>Louis Flam</p>
      </td>

      <td>
        <p>FORD</p>
      </td>

      <td>
        <p>Louise Ford</p>
      </td>

      <td>
        <p>FRED</p>
      </td>

      <td>
        <p>Fred Nials</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>FRIE</p>
      </td>

      <td>
        <p>Randy Friedman</p>
      </td>

      <td>
        <p>FROH</p>
      </td>

      <td>
        <p>Jerry Frohm</p>
      </td>

      <td>
        <p>GAIL</p>
      </td>

      <td>
        <p>Gail Tierney</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>GAMK</p>
      </td>

      <td>
        <p>Gay Kinkade</p>
      </td>

      <td>
        <p>GANA</p>
      </td>

      <td>
        <p>Mark Ganas</p>
      </td>

      <td>
        <p>GARY</p>
      </td>

      <td>
        <p>Gary Brown</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>GEAT</p>
      </td>

      <td>
        <p>George Teague</p>
      </td>

      <td>
        <p>GEDE</p>
      </td>

      <td>
        <p>Geoff Levin</p>
      </td>

      <td>
        <p>GEOF</p>
      </td>

      <td>
        <p>Geoff Levin</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>GEPS</p>
      </td>

      <td>
        <p>Gregory Stradiotto</p>
      </td>

      <td>
        <p>GESP</p>
      </td>

      <td>
        <p>Gene Spires</p>
      </td>

      <td>
        <p>GIGI</p>
      </td>

      <td>
        <p>Gigi Bayliss</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>GLAS</p>
      </td>

      <td>
        <p>Steve Glasser</p>
      </td>

      <td>
        <p>GLAZ</p>
      </td>

      <td>
        <p>Richard Glaser</p>
      </td>

      <td>
        <p>GLFR</p>
      </td>

      <td>
        <p>Glenn Frehafter</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>GOLD</p>
      </td>

      <td>
        <p>Susan Goldfarb</p>
      </td>

      <td>
        <p>GOOD</p>
      </td>

      <td>
        <p>Linda Goodman</p>
      </td>

      <td>
        <p>GORL</p>
      </td>

      <td>
        <p>Peter Gryska</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>GORT</p>
      </td>

      <td>
        <p>Gordon Taylor</p>
      </td>

      <td>
        <p>GREG</p>
      </td>

      <td>
        <p>Greg Smith</p>
      </td>

      <td>
        <p>GRKO</p>
      </td>

      <td>
        <p>Greg Komara</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>GRPC</p>
      </td>

      <td>
        <p>Greg Cross</p>
      </td>

      <td>
        <p>GRSE</p>
      </td>

      <td>
        <p>George Schultz</p>
      </td>

      <td>
        <p>HALE</p>
      </td>

      <td>
        <p>Mary Sue Hale</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>HAND</p>
      </td>

      <td>
        <p>Patricia Hancock</p>
      </td>

      <td>
        <p>HARY</p>
      </td>

      <td>
        <p>Harry Haecker</p>
      </td>

      <td>
        <p>HATT</p>
      </td>

      <td>
        <p>Gene Hattori</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>HBLA</p>
      </td>

      <td>
        <p>Heidi Blake</p>
      </td>

      <td>
        <p>HILL</p>
      </td>

      <td>
        <p>Anders Hillgren</p>
      </td>

      <td>
        <p>HIPP</p>
      </td>

      <td>
        <p>Patty Hippie</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>HJNH</p>
      </td>

      <td>
        <p>Henry Nowakowski</p>
      </td>

      <td>
        <p>HOLL</p>
      </td>

      <td>
        <p>Holly Hasenbuhler</p>
      </td>

      <td>
        <p>HOVE</p>
      </td>

      <td>
        <p>Pat Hicks</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>HUUD</p>
      </td>

      <td>
        <p>Ken Hutchinson</p>
      </td>

      <td>
        <p>HVEL</p>
      </td>

      <td>
        <p>Barbara Hvels</p>
      </td>

      <td>
        <p>IKEN</p>
      </td>

      <td>
        <p>Cindy Mulliken</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>ITZA</p>
      </td>

      <td>
        <p>Charles Lincoln</p>
      </td>

      <td>
        <p>IYYZ</p>
      </td>

      <td>
        <p>Jim A. Griffen</p>
      </td>

      <td>
        <p>IZAR</p>
      </td>

      <td>
        <p>Ralph Izard</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>JAAP</p>
      </td>

      <td>
        <p>John Alsoszatai-Petheo</p>
      </td>

      <td>
        <p>JACK</p>
      </td>

      <td>
        <p>John Acklen</p>
      </td>

      <td>
        <p>JAMI</p>
      </td>

      <td>
        <p>Jamie Birtz</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>JANE</p>
      </td>

      <td>
        <p>Jane Bartholic</p>
      </td>

      <td>
        <p>JASP</p>
      </td>

      <td>
        <p>Joyce Stevens</p>
      </td>

      <td>
        <p>JBUS</p>
      </td>

      <td>
        <p>Jim Buss</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>JCBR</p>
      </td>

      <td>
        <p>Janet Rose</p>
      </td>

      <td>
        <p>JCVW</p>
      </td>

      <td>
        <p>Judith Warrington</p>
      </td>

      <td>
        <p>JDMC</p>
      </td>

      <td>
        <p>Jim McNeal</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>JDWR</p>
      </td>

      <td>
        <p>John Wierner</p>
      </td>

      <td>
        <p>JEAN</p>
      </td>

      <td>
        <p>Jean Doverspike-Buergler</p>
      </td>

      <td>
        <p>JEEP</p>
      </td>

      <td>
        <p>Jean Packard</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>JEFQ</p>
      </td>

      <td>
        <p>Jeff Quilter</p>
      </td>

      <td>
        <p>JENN</p>
      </td>

      <td>
        <p>Jean Nudelman</p>
      </td>

      <td>
        <p>JENS</p>
      </td>

      <td>
        <p>Kelly Jenson</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>JERC</p>
      </td>

      <td>
        <p>Jeannie Robertson</p>
      </td>

      <td>
        <p>JERO</p>
      </td>

      <td>
        <p>Jean Rosenberg</p>
      </td>

      <td>
        <p>JIJC</p>
      </td>

      <td>
        <p>Jim Jones</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>JILM</p>
      </td>

      <td>
        <p>Jim Moore</p>
      </td>

      <td>
        <p>JIMC</p>
      </td>

      <td>
        <p>Jim Campbell</p>
      </td>

      <td>
        <p>JIMG</p>
      </td>

      <td>
        <p>Jim Green</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>JIMI</p>
      </td>

      <td>
        <p>Jim Califf</p>
      </td>

      <td>
        <p>JIML</p>
      </td>

      <td>
        <p>Jim Lengerich</p>
      </td>

      <td>
        <p>JLNO</p>
      </td>

      <td>
        <p>Jim Nolan</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>JMBR</p>
      </td>

      <td>
        <p>Julia Runyan</p>
      </td>

      <td>
        <p>JMCN</p>
      </td>

      <td>
        <p>James McNally</p>
      </td>

      <td>
        <p>JOAM</p>
      </td>

      <td>
        <p>Joanne Moffitt</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>JOAX</p>
      </td>

      <td>
        <p>John Axtmann</p>
      </td>

      <td>
        <p>JOFD</p>
      </td>

      <td>
        <p>John Dobley</p>
      </td>

      <td>
        <p>JOFR</p>
      </td>

      <td>
        <p>John Fritz</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>JONN</p>
      </td>

      <td>
        <p>John Nufer</p>
      </td>

      <td>
        <p>JOWA</p>
      </td>

      <td>
        <p>Joe Wagman</p>
      </td>

      <td>
        <p>JTAP</p>
      </td>

      <td>
        <p>Jim Priesnitz</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>JUDE</p>
      </td>

      <td>
        <p>Judy Shamosh</p>
      </td>

      <td>
        <p>JUDY</p>
      </td>

      <td>
        <p>Judith Hild</p>
      </td>

      <td>
        <p>JULS</p>
      </td>

      <td>
        <p>Julie Martel</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>JUSM</p>
      </td>

      <td>
        <p>Judy Smith</p>
      </td>

      <td>
        <p>JWRN</p>
      </td>

      <td>
        <p>John Runyan</p>
      </td>

      <td>
        <p>JWSH</p>
      </td>

      <td>
        <p>J. W. Shank</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>KAEM</p>
      </td>

      <td>
        <p>Karen Marchand</p>
      </td>

      <td>
        <p>KAFE</p>
      </td>

      <td>
        <p>Kathy Fernstrom</p>
      </td>

      <td>
        <p>KAJO</p>
      </td>

      <td>
        <p>Kay Johnston</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>KALA</p>
      </td>

      <td>
        <p>Kathy Larson</p>
      </td>

      <td>
        <p>KAMI</p>
      </td>

      <td>
        <p>Kathy Mitchell</p>
      </td>

      <td>
        <p>KASS</p>
      </td>

      <td>
        <p>Kassie Eber</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>KATD</p>
      </td>

      <td>
        <p>Kathy Dissler</p>
      </td>

      <td>
        <p>KATE</p>
      </td>

      <td>
        <p>Kathy Elsesse</p>
      </td>

      <td>
        <p>KATH</p>
      </td>

      <td>
        <p>Kathy Klognac</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>KATH</p>
      </td>

      <td>
        <p>Kathy Richmond</p>
      </td>

      <td>
        <p>KATL</p>
      </td>

      <td>
        <p>Kath Luchoh</p>
      </td>

      <td>
        <p>KELL</p>
      </td>

      <td>
        <p>Betty Kellerman</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>KEMC</p>
      </td>

      <td>
        <p>Katherine McCleary</p>
      </td>

      <td>
        <p>KICK</p>
      </td>

      <td>
        <p>Rick Fitzgerald</p>
      </td>

      <td>
        <p>KIDD</p>
      </td>

      <td>
        <p>Ginny Gnabasik</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>KJRA</p>
      </td>

      <td>
        <p>Karl Reinhard</p>
      </td>

      <td>
        <p>KLAG</p>
      </td>

      <td>
        <p>Karol Klager</p>
      </td>

      <td>
        <p>KLPN</p>
      </td>

      <td>
        <p>Ken Petersen</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>KLRA</p>
      </td>

      <td>
        <p>Karen Adams</p>
      </td>

      <td>
        <p>KNAC</p>
      </td>

      <td>
        <p>Martha Knack</p>
      </td>

      <td>
        <p>KRIS</p>
      </td>

      <td>
        <p>Christine Keegan</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>KRIS</p>
      </td>

      <td>
        <p>Christina Brainerd</p>
      </td>

      <td>
        <p>KURT</p>
      </td>

      <td>
        <p>Kurt Anschuetz</p>
      </td>

      <td>
        <p>LAEL</p>
      </td>

      <td>
        <p>Lael Stone</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>LANG</p>
      </td>

      <td>
        <p>Marilyn Lang</p>
      </td>

      <td>
        <p>LAPR</p>
      </td>

      <td>
        <p>Lindsay Pyfer</p>
      </td>

      <td>
        <p>LASH</p>
      </td>

      <td>
        <p>Laurie Sheehan</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>LAUF</p>
      </td>

      <td>
        <p>Lauretta Fortune</p>
      </td>

      <td>
        <p>LAUR</p>
      </td>

      <td>
        <p>Lannie Whiting</p>
      </td>

      <td>
        <p>LEBA</p>
      </td>

      <td>
        <p>Philippe Lebas</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>LECA</p>
      </td>

      <td>
        <p>Leigh Caskey</p>
      </td>

      <td>
        <p>LEON</p>
      </td>

      <td>
        <p>Leo Kavanaugh</p>
      </td>

      <td>
        <p>LERO</p>
      </td>

      <td>
        <p>Lenny Roy</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>LIDE</p>
      </td>

      <td>
        <p>Liana Dellabough</p>
      </td>

      <td>
        <p>LILR</p>
      </td>

      <td>
        <p>Phyllis (Lil) Rogers</p>
      </td>

      <td>
        <p>LINA</p>
      </td>

      <td>
        <p>Liliana Duricic</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>LINE</p>
      </td>

      <td>
        <p>Linnea Hammer</p>
      </td>

      <td>
        <p>LISA</p>
      </td>

      <td>
        <p>Lisa Rocback</p>
      </td>

      <td>
        <p>LISP</p>
      </td>

      <td>
        <p>Melissa Sharp</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>LIZB</p>
      </td>

      <td>
        <p>Elizabeth Brower</p>
      </td>

      <td>
        <p>LLMB</p>
      </td>

      <td>
        <p>Larry Baker</p>
      </td>

      <td>
        <p>LNOR</p>
      </td>

      <td>
        <p>Eleanor</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>LOCP</p>
      </td>

      <td>
        <p>Lonnie Pippin</p>
      </td>

      <td>
        <p>LOHR</p>
      </td>

      <td>
        <p>Dee Lohr</p>
      </td>

      <td>
        <p>LOLR</p>
      </td>

      <td>
        <p>Carla Rogers</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>LONE</p>
      </td>

      <td>
        <p>Lowell Newman</p>
      </td>

      <td>
        <p>LORA</p>
      </td>

      <td>
        <p>Laura Hartwig</p>
      </td>

      <td>
        <p>LORE</p>
      </td>

      <td>
        <p>Laurie McDonald</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>LOSR</p>
      </td>

      <td>
        <p>Don Losure</p>
      </td>

      <td>
        <p>LUCY</p>
      </td>

      <td>
        <p>Lucy Whalley</p>
      </td>

      <td>
        <p>LUDE</p>
      </td>

      <td>
        <p>Kevin Harris</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>LUKE</p>
      </td>

      <td>
        <p>Mary Serrock</p>
      </td>

      <td>
        <p>LYNA</p>
      </td>

      <td>
        <p>Lynne Arany</p>
      </td>

      <td>
        <p>LYNN</p>
      </td>

      <td>
        <p>Lynn Cronk</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>MABE</p>
      </td>

      <td>
        <p>Marlene Beggelman</p>
      </td>

      <td>
        <p>MAGE</p>
      </td>

      <td>
        <p>Maggie Velte</p>
      </td>

      <td>
        <p>MAIR</p>
      </td>

      <td>
        <p>Peter Mair</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>MAJE</p>
      </td>

      <td>
        <p>Donna Majewski-Burns</p>
      </td>

      <td>
        <p>MAJM</p>
      </td>

      <td>
        <p>Maurice Montgomery</p>
      </td>

      <td>
        <p>MALB</p>
      </td>

      <td>
        <p>Marla Beck</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>MALS</p>
      </td>

      <td>
        <p>Malcolm Saunders</p>
      </td>

      <td>
        <p>MANB</p>
      </td>

      <td>
        <p>Ann Bennett</p>
      </td>

      <td>
        <p>MARA</p>
      </td>

      <td>
        <p>Martha West</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>MARF</p>
      </td>

      <td>
        <p>Marie Foutz</p>
      </td>

      <td>
        <p>MARJ</p>
      </td>

      <td>
        <p>Marjorie McGuckin</p>
      </td>

      <td>
        <p>MARK</p>
      </td>

      <td>
        <p>Mark Dyreson</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>MARS</p>
      </td>

      <td>
        <p>Mark Villers</p>
      </td>

      <td>
        <p>MART</p>
      </td>

      <td>
        <p>Mary Timmers</p>
      </td>

      <td>
        <p>MARV</p>
      </td>

      <td>
        <p>Marvin Stewart</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>MARY</p>
      </td>

      <td>
        <p>Mary Blankenhorn-Losure</p>
      </td>

      <td>
        <p>MARX</p>
      </td>

      <td>
        <p>Debbie Marz</p>
      </td>

      <td>
        <p>MASH</p>
      </td>

      <td>
        <p>Dave Welsh</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>MASJ</p>
      </td>

      <td>
        <p>Margot Julian</p>
      </td>

      <td>
        <p>MAXI</p>
      </td>

      <td>
        <p>Jane Epstin</p>
      </td>

      <td>
        <p>MEFN</p>
      </td>

      <td>
        <p>Mary Fountain</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>MEMG</p>
      </td>

      <td>
        <p>Mary Graham</p>
      </td>

      <td>
        <p>MERI</p>
      </td>

      <td>
        <p>Merril Ozerkis</p>
      </td>

      <td>
        <p>MESC</p>
      </td>

      <td>
        <p>Steve Palla</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>MFRC</p>
      </td>

      <td>
        <p>Mary Chadderbon</p>
      </td>

      <td>
        <p>MIMI</p>
      </td>

      <td>
        <p>Mimi Hildreth</p>
      </td>

      <td>
        <p>MINK</p>
      </td>

      <td>
        <p>Stephanie Mink-Stradiotto</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>MIPR</p>
      </td>

      <td>
        <p>Mike Proper</p>
      </td>

      <td>
        <p>MIRA</p>
      </td>

      <td>
        <p>Larry Childs</p>
      </td>

      <td>
        <p>MJAB</p>
      </td>

      <td>
        <p>Melanie Brown</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>MJAS</p>
      </td>

      <td>
        <p>Michael Andrus</p>
      </td>

      <td>
        <p>MJBS</p>
      </td>

      <td>
        <p>Mary Jane Schneider</p>
      </td>

      <td>
        <p>MJJB</p>
      </td>

      <td>
        <p>Michael Banta</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>MMON</p>
      </td>

      <td>
        <p>Mary Montano</p>
      </td>

      <td>
        <p>MOBS</p>
      </td>

      <td>
        <p>Molly Struever</p>
      </td>

      <td>
        <p>MONT</p>
      </td>

      <td>
        <p>Dave Montano</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>MULL</p>
      </td>

      <td>
        <p>Nancy Muller</p>
      </td>

      <td>
        <p>MURF</p>
      </td>

      <td>
        <p>Sara Murphy</p>
      </td>

      <td>
        <p>MUTM</p>
      </td>

      <td>
        <p>No name</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>NABB</p>
      </td>

      <td>
        <p>Nabby Bronstein</p>
      </td>

      <td>
        <p>NACA</p>
      </td>

      <td>
        <p>Nicola Remus</p>
      </td>

      <td>
        <p>NACL</p>
      </td>

      <td>
        <p>Niles Fleischer</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>NAFI</p>
      </td>

      <td>
        <p>Nancy Fithian</p>
      </td>

      <td>
        <p>NANB</p>
      </td>

      <td>
        <p>Nancy Bronstein</p>
      </td>

      <td>
        <p>NANR</p>
      </td>

      <td>
        <p>Nancy Robertson</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>NASH</p>
      </td>

      <td>
        <p>Nancy Hewett</p>
      </td>

      <td>
        <p>NELL</p>
      </td>

      <td>
        <p>Nell Ripley</p>
      </td>

      <td>
        <p>NEMO</p>
      </td>

      <td>
        <p>Nancy Marshall</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>NESS</p>
      </td>

      <td>
        <p>Barbara Humes</p>
      </td>

      <td>
        <p>NICE</p>
      </td>

      <td>
        <p>Janice Weeks</p>
      </td>

      <td>
        <p>NINA</p>
      </td>

      <td>
        <p>Nina Hofer</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>NORM</p>
      </td>

      <td>
        <p>Norman Neison</p>
      </td>

      <td>
        <p>OAHU</p>
      </td>

      <td>
        <p>Debbie Ostertag</p>
      </td>

      <td>
        <p>OGRE</p>
      </td>

      <td>
        <p>Hayward Franklin</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>OMEC</p>
      </td>

      <td>
        <p>Ruth Barach</p>
      </td>

      <td>
        <p>ORCS</p>
      </td>

      <td>
        <p>Remy Constable</p>
      </td>

      <td>
        <p>OSTR</p>
      </td>

      <td>
        <p>Jean Ostrander</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>PAMM</p>
      </td>

      <td>
        <p>Pam Miller</p>
      </td>

      <td>
        <p>PAMO</p>
      </td>

      <td>
        <p>Pamela Morden</p>
      </td>

      <td>
        <p>PAMR</p>
      </td>

      <td>
        <p>Pam Runyan</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>PANO</p>
      </td>

      <td>
        <p>Peter Andrews</p>
      </td>

      <td>
        <p>PASC</p>
      </td>

      <td>
        <p>Pascal Msihid</p>
      </td>

      <td>
        <p>PAST</p>
      </td>

      <td>
        <p>Pam Stanbury</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>PATH</p>
      </td>

      <td>
        <p>Patrick Hasenbuhler</p>
      </td>

      <td>
        <p>PATZ</p>
      </td>

      <td>
        <p>Pat Zarnowski</p>
      </td>

      <td>
        <p>PAUL</p>
      </td>

      <td>
        <p>Paul Grigg</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>PCJO</p>
      </td>

      <td>
        <p>Paddy Johnson</p>
      </td>

      <td>
        <p>PEAW</p>
      </td>

      <td>
        <p>Penny Whitten</p>
      </td>

      <td>
        <p>PEBE</p>
      </td>

      <td>
        <p>Peg Benson</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>PEBG</p>
      </td>

      <td>
        <p>Peter George</p>
      </td>

      <td>
        <p>PEGS</p>
      </td>

      <td>
        <p>Peg Savage</p>
      </td>

      <td>
        <p>PELA</p>
      </td>

      <td>
        <p>Pete Laudeman</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>PEPO</p>
      </td>

      <td>
        <p>Jeanne Mehringer</p>
      </td>

      <td>
        <p>PESH</p>
      </td>

      <td>
        <p>Peter Schulman</p>
      </td>

      <td>
        <p>PETE</p>
      </td>

      <td>
        <p>Peter Broderson</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>PHIL</p>
      </td>

      <td>
        <p>Phillip Reuppee</p>
      </td>

      <td>
        <p>PING</p>
      </td>

      <td>
        <p>Peter Ingle</p>
      </td>

      <td>
        <p>PION</p>
      </td>

      <td>
        <p>Mike Piontkowski</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>POOH</p>
      </td>

      <td>
        <p>Annie Schmidt</p>
      </td>

      <td>
        <p>POPS</p>
      </td>

      <td>
        <p>Ray Smith</p>
      </td>

      <td>
        <p>POTT</p>
      </td>

      <td>
        <p>Gale Potter</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>RAUH</p>
      </td>

      <td>
        <p>Jim Rauh</p>
      </td>

      <td>
        <p>RAVB</p>
      </td>

      <td>
        <p>Dick Bice</p>
      </td>

      <td>
        <p>RBFB</p>
      </td>

      <td>
        <p>Barbara Beck Smith</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>RBGO</p>
      </td>

      <td>
        <p>Bruce Grove</p>
      </td>

      <td>
        <p>RBLR</p>
      </td>

      <td>
        <p>Rusty Reinhardt</p>
      </td>

      <td>
        <p>RBRD</p>
      </td>

      <td>
        <p>Ron Brandeis</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>RDFC</p>
      </td>

      <td>
        <p>Theresa Coffelt</p>
      </td>

      <td>
        <p>REDD</p>
      </td>

      <td>
        <p>Donna Redding</p>
      </td>

      <td>
        <p>REGP</p>
      </td>

      <td>
        <p>Regina Pitan</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>RENE</p>
      </td>

      <td>
        <p>Renee Delbene</p>
      </td>

      <td>
        <p>RENS</p>
      </td>

      <td>
        <p>Renny Stelloh</p>
      </td>

      <td>
        <p>REQU</p>
      </td>

      <td>
        <p>Rick Requarth</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>RIAN</p>
      </td>

      <td>
        <p>Marian Revitte</p>
      </td>

      <td>
        <p>RICK</p>
      </td>

      <td>
        <p>Rick Shirley</p>
      </td>

      <td>
        <p>RIKA</p>
      </td>

      <td>
        <p>Rita Kantarowski</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>RISS</p>
      </td>

      <td>
        <p>Paul Rissman</p>
      </td>

      <td>
        <p>RKAD</p>
      </td>

      <td>
        <p>Rex Adams</p>
      </td>

      <td>
        <p>ROBB</p>
      </td>

      <td>
        <p>Bruce McLean</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>ROBF</p>
      </td>

      <td>
        <p>Rob Freed</p>
      </td>

      <td>
        <p>RODZ</p>
      </td>

      <td>
        <p>Robin Ziex</p>
      </td>

      <td>
        <p>ROSE</p>
      </td>

      <td>
        <p>Roseann Shankman</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>ROTH</p>
      </td>

      <td>
        <p>Janet Roth</p>
      </td>

      <td>
        <p>ROXE</p>
      </td>

      <td>
        <p>Roxanne Cernaghan</p>
      </td>

      <td>
        <p>RUTH</p>
      </td>

      <td>
        <p>Ruth Milts</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>SAJK</p>
      </td>

      <td>
        <p>Sally Kleiner</p>
      </td>

      <td>
        <p>SALE</p>
      </td>

      <td>
        <p>Sandy Lee</p>
      </td>

      <td>
        <p>SAND</p>
      </td>

      <td>
        <p>Sandra Landwehr</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>SARA</p>
      </td>

      <td>
        <p>Sara Collins</p>
      </td>

      <td>
        <p>SCHA</p>
      </td>

      <td>
        <p>Scott Harturg</p>
      </td>

      <td>
        <p>SCOT</p>
      </td>

      <td>
        <p>Scot Gorton</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>SCSR</p>
      </td>

      <td>
        <p>Scott Schermer</p>
      </td>

      <td>
        <p>SCVL</p>
      </td>

      <td>
        <p>Jeff Scovil</p>
      </td>

      <td>
        <p>SGJR</p>
      </td>

      <td>
        <p>Sinclair Gearing Jr.</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>SHER</p>
      </td>

      <td>
        <p>Sherry Sheme</p>
      </td>

      <td>
        <p>SHJF</p>
      </td>

      <td>
        <p>Steve Hagland</p>
      </td>

      <td>
        <p>SKWS</p>
      </td>

      <td>
        <p>Susan Schelter</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>SILT</p>
      </td>

      <td>
        <p>Nancy Sillato</p>
      </td>

      <td>
        <p>SLAM</p>
      </td>

      <td>
        <p>Randy Pancho</p>
      </td>

      <td>
        <p>SLOP</p>
      </td>

      <td>
        <p>Dave Churchman</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>SMIG</p>
      </td>

      <td>
        <p>Richie Smigielski</p>
      </td>

      <td>
        <p>SNAG</p>
      </td>

      <td>
        <p>Dana Jennings</p>
      </td>

      <td>
        <p>SOMM</p>
      </td>

      <td>
        <p>Elliott Sommer</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>SSAF</p>
      </td>

      <td>
        <p>Susannah French</p>
      </td>

      <td>
        <p>SSUR</p>
      </td>

      <td>
        <p>Stuart Schwid</p>
      </td>

      <td>
        <p>STAR</p>
      </td>

      <td>
        <p>Helaine Starr</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>STGC</p>
      </td>

      <td>
        <p>Shari Grove</p>
      </td>

      <td>
        <p>STIC</p>
      </td>

      <td>
        <p>Deborah Stickney</p>
      </td>

      <td>
        <p>STLF</p>
      </td>

      <td>
        <p>Francis Stickney</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>STKT</p>
      </td>

      <td>
        <p>T. Stickney</p>
      </td>

      <td>
        <p>STON</p>
      </td>

      <td>
        <p>Connie Stone</p>
      </td>

      <td>
        <p>STUF</p>
      </td>

      <td>
        <p>Stuart Fiedel</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>SUEC</p>
      </td>

      <td>
        <p>Susie Gleghorn</p>
      </td>

      <td>
        <p>SUEJ</p>
      </td>

      <td>
        <p>Sue Johnson</p>
      </td>

      <td>
        <p>SULK</p>
      </td>

      <td>
        <p>Suzanne Kinkade</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>SUMC</p>
      </td>

      <td>
        <p>Susan Morton</p>
      </td>

      <td>
        <p>SUSA</p>
      </td>

      <td>
        <p>Susan McGrew</p>
      </td>

      <td>
        <p>SUSN</p>
      </td>

      <td>
        <p>Susan Slasor</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>SUZI</p>
      </td>

      <td>
        <p>Suzanne Bradley</p>
      </td>

      <td>
        <p>SWAZ</p>
      </td>

      <td>
        <p>Joe Swayze</p>
      </td>

      <td>
        <p>TAMP</p>
      </td>

      <td>
        <p>Marie Attaway</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>TARI</p>
      </td>

      <td>
        <p>Tammy Richcreek</p>
      </td>

      <td>
        <p>TAZM</p>
      </td>

      <td>
        <p>Joe Ross</p>
      </td>

      <td>
        <p>TGEE</p>
      </td>

      <td>
        <p>Tom Gee</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>THAL</p>
      </td>

      <td>
        <p>Susan Rosenthal</p>
      </td>

      <td>
        <p>THLA</p>
      </td>

      <td>
        <p>Thomas Leby</p>
      </td>

      <td>
        <p>THOM</p>
      </td>

      <td>
        <p>M. Thode</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>THOR</p>
      </td>

      <td>
        <p>R. Thode</p>
      </td>

      <td>
        <p>TIGR</p>
      </td>

      <td>
        <p>Laila Johnson</p>
      </td>

      <td>
        <p>TIMM</p>
      </td>

      <td>
        <p>Tim McCormack</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>TINA</p>
      </td>

      <td>
        <p>Christina Howe</p>
      </td>

      <td>
        <p>TLST</p>
      </td>

      <td>
        <p>Lynn Teague</p>
      </td>

      <td>
        <p>TMCN</p>
      </td>

      <td>
        <p>Tim McNiven</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>TOBI</p>
      </td>

      <td>
        <p>Debbie Tobias</p>
      </td>

      <td>
        <p>TOFC</p>
      </td>

      <td>
        <p>Theresa Coffelt</p>
      </td>

      <td>
        <p>TOMA</p>
      </td>

      <td>
        <p>Tom Argites</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>TONY</p>
      </td>

      <td>
        <p>Connie Howard</p>
      </td>

      <td>
        <p>TORY</p>
      </td>

      <td>
        <p>Victoria Lord</p>
      </td>

      <td>
        <p>TRBA</p>
      </td>

      <td>
        <p>Tom Barker</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>TROL</p>
      </td>

      <td>
        <p>Roger Moore</p>
      </td>

      <td>
        <p>VADA</p>
      </td>

      <td>
        <p>James Vadamour</p>
      </td>

      <td>
        <p>VALF</p>
      </td>

      <td>
        <p>Val Fritz</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>VAMM</p>
      </td>

      <td>
        <p>Virge Mason</p>
      </td>

      <td>
        <p>VASH</p>
      </td>

      <td>
        <p>Bobbie Lavash</p>
      </td>

      <td>
        <p>VERN</p>
      </td>

      <td>
        <p>Verne Harnish</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>VERO</p>
      </td>

      <td>
        <p>Veronica Robinson</p>
      </td>

      <td>
        <p>VICK</p>
      </td>

      <td>
        <p>Vicki Green</p>
      </td>

      <td>
        <p>VILL</p>
      </td>

      <td>
        <p>Steve Villiars</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>VOLT</p>
      </td>

      <td>
        <p>Pat Voltz</p>
      </td>

      <td>
        <p>VWOL</p>
      </td>

      <td>
        <p>Virginia Wolff</p>
      </td>

      <td>
        <p>WARD</p>
      </td>

      <td>
        <p>Jane Garbiso</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>WASE</p>
      </td>

      <td>
        <p>Cheryl Wase</p>
      </td>

      <td>
        <p>WDGR</p>
      </td>

      <td>
        <p>Wade Groce</p>
      </td>

      <td>
        <p>WDWA</p>
      </td>

      <td>
        <p>Wadhwa</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>WERN</p>
      </td>

      <td>
        <p>Diana Werner</p>
      </td>

      <td>
        <p>WILL</p>
      </td>

      <td>
        <p>Willis Payne</p>
      </td>

      <td>
        <p>WISE</p>
      </td>

      <td>
        <p>Lisa Wiseman</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>WOGT</p>
      </td>

      <td>
        <p>Bill Graham</p>
      </td>

      <td>
        <p>WYCG WYC</p>
      </td>

      <td>
        <p>Grousbeck</p>
      </td>

      <td>
        <p>XICH</p>
      </td>

      <td>
        <p>Helen Payne</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>YOSH</p>
      </td>

      <td>
        <p>Linda Honeycutt</p>
      </td>

      <td>
        <p>YRCH</p>
      </td>

      <td>
        <p>Cecile Croucher</p>
      </td>

      <td>
        <p>ZEUS</p>
      </td>

      <td>
        <p>Paul Cournoyer</p>
      </td>
    </tr>

    <tr>
      <td>
        <p>ZUNI</p>
      </td>

      <td>
        <p>Clyde Yatsattie</p>
      </td>

      <td><br /></td>

      <td><br /></td>

      <td><br /></td>

      <td><br /></td>
    </tr>
  </tbody>
</table>

<br/><br/>
<h5>1970-1973 Participants with no computer initials</h5>

<table class="table table-condensed">
  <tbody>
    <tr>
      <td>
        <p dir="ltr">Laurence S. Alexander</p>
      </td>

      <td>
        <p dir="ltr">William C. Allan</p>
      </td>

      <td>
        <p dir="ltr">Linda Barnes</p>
      </td>
    </tr>

    <tr>
      <td>
        <p dir="ltr">Mary Pat Beach</p>
      </td>

      <td>
        <p dir="ltr">Rick Beach</p>
      </td>

      <td>
        <p dir="ltr">Mrs. Bruce Beckwith</p>
      </td>
    </tr>

    <tr>
      <td>
        <p dir="ltr">Lincoln Brynat</p>
      </td>

      <td>
        <p dir="ltr">Roberta Carpenter</p>
      </td>

      <td>
        <p dir="ltr">Pat Clifton</p>
      </td>
    </tr>

    <tr>
      <td>
        <p dir="ltr">Priscilla Doff</p>
      </td>

      <td>
        <p dir="ltr">Michael Facundus</p>
      </td>

      <td>
        <p dir="ltr">Catherine Fortassier</p>
      </td>
    </tr>

    <tr>
      <td>
        <p dir="ltr">Pat Gallacher</p>
      </td>

      <td>
        <p dir="ltr">Wally Gallacher</p>
      </td>

      <td>
        <p dir="ltr">Kent Goodell</p>
      </td>
    </tr>

    <tr>
      <td>
        <p dir="ltr">Georgi Greenhaw</p>
      </td>

      <td>
        <p dir="ltr">T. Weber Grieser</p>
      </td>

      <td>
        <p dir="ltr">Dr. Phillip C. Hammond</p>
      </td>
    </tr>

    <tr>
      <td>
        <p dir="ltr">Kathy Harbury</p>
      </td>

      <td>
        <p dir="ltr">Gary Henner</p>
      </td>

      <td>
        <p dir="ltr">Richard Holloway</p>
      </td>
    </tr>

    <tr>
      <td>
        <p dir="ltr">Erica Horwitz</p>
      </td>

      <td>
        <p dir="ltr">Bob Hovde</p>
      </td>

      <td>
        <p dir="ltr">Rick Hughes</p>
      </td>
    </tr>

    <tr>
      <td>
        <p dir="ltr">Marie-Louise Inizan</p>
      </td>

      <td>
        <p dir="ltr">Mrs. Eleanor C. (Kay) Irwin</p>
      </td>

      <td>
        <p dir="ltr">Henry Irwin</p>
      </td>
    </tr>

    <tr>
      <td>
        <p dir="ltr">Ed W. Kiess</p>
      </td>

      <td>
        <p dir="ltr">Mrs. Hal King (SuSu Puckett)</p>
      </td>

      <td>
        <p dir="ltr">Pat Beckett</p>
      </td>
    </tr>

    <tr>
      <td>
        <p dir="ltr">Jeffrey Dean</p>
      </td>

      <td>
        <p dir="ltr">Mike Kinkade</p>
      </td>

      <td>
        <p dir="ltr">Dr. E.Frederick Koster</p>
      </td>
    </tr>

    <tr>
      <td>
        <p dir="ltr">Anita Kramer</p>
      </td>

      <td>
        <p dir="ltr">John Krause</p>
      </td>

      <td>
        <p dir="ltr">Kathleen Larsen</p>
      </td>
    </tr>

    <tr>
      <td>
        <p dir="ltr">Tom Levy</p>
      </td>

      <td>
        <p dir="ltr">Steve Long</p>
      </td>

      <td>
        <p dir="ltr">Alice Luna</p>
      </td>
    </tr>

    <tr>
      <td>
        <p dir="ltr">Hans Manneby</p>
      </td>

      <td>
        <p dir="ltr">Anne Marler</p>
      </td>

      <td>
        <p dir="ltr">Clayton Marler</p>
      </td>
    </tr>

    <tr>
      <td>
        <p dir="ltr">Albert McNeil</p>
      </td>

      <td>
        <p dir="ltr">Doug McPherson</p>
      </td>

      <td>
        <p dir="ltr">E. Pierre Morenon</p>
      </td>
    </tr>

    <tr>
      <td>
        <p dir="ltr">Sandy Morenon</p>
      </td>

      <td>
        <p dir="ltr">Joan E. Nelson</p>
      </td>

      <td>
        <p dir="ltr">Nancy Nials</p>
      </td>
    </tr>

    <tr>
      <td>
        <p dir="ltr">Rebekah Rice</p>
      </td>

      <td>
        <p dir="ltr">Patti Schuster</p>
      </td>

      <td>
        <p dir="ltr">Donna Shankun</p>
      </td>
    </tr>

    <tr>
      <td>
        <p dir="ltr">Howard Smith</p>
      </td>

      <td>
        <p dir="ltr">Ken Stockton</p>
      </td>

      <td>
        <p dir="ltr">Mark Strong</p>
      </td>
    </tr>

    <tr>
      <td>
        <p dir="ltr">Susan Strong</p>
      </td>

      <td>
        <p dir="ltr">Wendy Thompkins</p>
      </td>

      <td>
        <p dir="ltr">Charlotte Mary Toulouse</p>
      </td>
    </tr>

    <tr>
      <td>
        <p dir="ltr">Valerie Ward</p>
      </td>

      <td>
        <p dir="ltr">Dottie Washburn</p>
      </td>

      <td>
        <p dir="ltr">Debbie Weil</p>
      </td>
    </tr>
  </tbody>
</table>
