<h2>People</h2>

<h3>Staff</h3>

<h4>Project Leads:</h4>

<p>Carrie C. Heitman, University of Nebraska-Lincoln/Center for Digital Research in the Humanities, PI & Institutional Lead</p>
<p>Paul F. Reed, Archaeology Southwest, Co-PI & Institutional Lead</p>
<p>Worthy Martin, University of Virginia/Institute for Advanced Technology in the Humanities, Institutional Lead</p>
<p>Larry Baker, Salmon Ruins Museum, Institutional Lead</p>

<h4>Project Team:</h4>

<p>Robbie Bingler, IATH Senior Programmer Analyst</p>
<p>Shayne Brandon, IATH Systems Administrator</p>
<p>Karin Dalziel, CDRH Digital Development Manager & Designer</p>
<p>Jessica Dussault, CDRH Programmer/Analyst</p>
<p>Emma Gibson, Arch SW Data Specialist</p>
<p>Annie Reiva, CDRH Grad Research Assistant</p>
<p>Doug Ross, IATH Programmer Analyst</p>
<p>Greg Tunink, CDRH Programmer/Analyst</p>
<p>Laura Weakly, CDRH, Metadata Encoding Specialist</p>

<h4>Project Advisors:</h4>

<p>William H. Doelle, Arch SW, Advisor</p>
<p>Stephen Plog, UVA, Advisor</p>
<p>Jennifer Thoegersen, UNL, Digital Data Curation Specialist</p>
<p>Katherine Walter, CDRH, Advisor</p>

<h4>Project Research Assistants, Volunteers, and Consultants:</h4>

<p>Erin Brooks, SRM, Data Entry Volunteer</p>
<p>Catherine Elliott, UNL UCARE Student</p>
<p>Nancy Espinosa, SRM, Curator</p>
<p>Brianna Haberyan, UNL UCARE Student</p>
<p>Kelsey Hoppes, UNL Research Assistant</p>
<p>Sydney Tillotson, UNL, UCARE Student</p>
