<h3>Policies &amp; Information on Usage</h3>

<p>Users should be aware that SPARC may contain images and information that may be culturally sensitive to certain tribes , communities , and/or individuals. We have made our best effort to ensure that potentially sensitive images and information are not disseminated. However, there may be some oversights due to the diversity and breadth of the collection.
</p>

<h4>Copyright Information</h4>

<p>The materials on the Salmon Pueblo Archaeological Research Collection website are under copyright, licensed under a Creative Commons NonCommercial-NoDerivatives 4.0 International License (CC BY-NC-ND 4.0).
</p>

<p> These materials have been made available for use in research, teaching, and private study. You may reproduce (print, make photocopies, or download) materials from this website for these purposes without prior permission on the condition that you properly credit and cite the source in all copies. (Please see the page on <a href="http://salmonpueblo.org/about/cite/">How to Cite</a>.)
</p>

<p>For other uses of materials from the SPARC website (for example, publication, broadcast, mirroring, reuse on a website, or anything else that does not fall under "fair use") we require that you contact the Salmon Ruins Museum in advance for permission to reproduce the materials. Contact information is given below. If requesting permission to use materials from our site please be prepared to refer specifically to the information you intend to use.
</p>

<p>
    Larry Baker<br/>
    Salmon Ruins Museum<br/>
    P. O. Box 125<br/>
    Bloomfield, NM 87413<br/>
    sreducation[at]sisna.com 505-632-2013
</p>

<p>Policies</p>

<p>Policy on photographs of human remains &amp; funerary items</p>

<p>Images showing human remains and known funerary items have been excluded from all image searches because of their cultural sensitivity. Metadata about these images can be found through the <a href="https://salmonpueblo.org/query/images">Image Query</a> page. If you identify a record with the image file redacted and are interested in obtaining the image, users may contact the repository institution (contact information listed above) to seek permission. Please note, such requests will be granted at the discretion of the Director of the Salmon Ruins Museum.
</p>

<p>Some documents contain polaroid photographs used for in-field documentation. In cases where the polaroid image showed human remains, these images have also been redacted from the documents. To access the original document, users should contact the Salmon Ruins Museum directly.
</p>

