<h1>About the Salmon Pueblo Project</h1>

<ul>
  <li><a href="#background">Background and Significance</a></li>
  <li><a href="#history">History of Salmon Pueblo Archaeological Research and Preservation Efforts</a></li>
  <li><a href="#goals">SPARC Project Goals and Accomplishments</a></li>
  <li><a href="#policies">Policies</a></li>
</ul>

<h2 id="background">Background and Significance:</h2>

<p>Nearly 1,000 years ago, Chaco Canyon, New Mexico was the flourishing center of a Native American society spread across the northern American Southwest. The Chacoan world – approximately the size of Indiana – was comprised of over 250 outlying communities that were settled during the eighth through thirteenth centuries CE by the ancestors of contemporary Native people of the Southwest. Today, these sites are considered sacred by many descendant communities. And because of its incomparable expression of human complexity, many scholars regard the greater Chacoan landscape as one of the most important archaeological regions in North America.</p>

<p>Salmon Pueblo was the first major colony established by the Chacoan people and is one of the largest Chacoan communities found outside of <a href="https://www.nps.gov/chcu/index.htm" target="_blank">Chaco Culture National Historical Park <span class="glyphicon glyphicon-new-window"/></a>. This site is important both for its place in the larger Chacoan world of the twelfth century and its unique archaeological history. Salmon was a large pueblo and cultural center built around 1090 CE on the north bank of the San Juan River, 45 miles north of Chaco Canyon in the modern day city of Bloomfield, New Mexico. It is known by other names in the numerous Indigenous languages of the Southwest though it is commonly referred to by the surname of colonial settler George Salmon who owned the site from the early 1890s until 1956.  Today the site is owned by the San Juan County Museum Association and preserved through the efforts of the <a href="https://www.salmonruins.com" target="_blank">Salmon Ruins Museum <span class="glyphicon glyphicon-new-window"/></a>.</p>

<p>At its zenith, Salmon had over 275 rooms spread across three stories in an E-shaped configuration, a central elevated, blocked-in kiva, and a great kiva located in the plaza. It had two main periods of occupation: The first is known as the Chacoan occupation and lasted from about 1090 to 1125 CE.  The second lasted from about 1125 to 1280 CE and is known as the San Juan occupation.  By the 1280s, much of the site was destroyed by fire and its inhabitants had migrated away to other areas of the Southwest.</p>

<p>Salmon Pueblo is the only Chacoan great house site in the American Southwest to be comprehensively excavated in the last 40 years. These excavations produced more than 1.5 million artifacts, specimens, and samples, each of which has the potential to inform modern American society about the complex lifeways of ancient, Indigenous inhabitants of North America. Recent efforts have been made to repackage and inventory the excavation collections.  Prior to this project, the Salmon Pueblo excavation information had been difficult to access and little effort had been focused on producing a digital archive for the site and its vast collection.
</p>

<h2 id="history">History of Salmon Pueblo Archaeological Research and Preservation Efforts:</h2>

<p>Salmon Pueblo was extensively excavated by Dr. Cynthia Irwin-Williams from 1970 to 1980 through the San Juan Valley Archaeological Program conducted by Eastern New Mexico University. With the help of many individuals, field schools, and institutional collaborators, more than 35 percent of the 150 ground-floor rooms at the ancient pueblo were excavated under Dr. Irwin-Williams direction.  The results of her Salmon Pueblo excavations were not published during her lifetime.  </p>

<p>From 2001-2014, the Center for Desert Archaeology (now <a href="https://www.archaeologysouthwest.org/" target="_blank">Archaeology Southwest <span class="glyphicon glyphicon-new-window"/></a>) helped to bring Dr. Cynthia Irwin-Williams efforts to fruition through various initiatives. Their support, led by Paul Reed,  included a collection management partnership with the Salmon Ruins Museum to organize, rehouse, curate and conserve the 1.5 million artifacts recovered during excavation.  In 2002, this project was funded by a <a href="http://www.saveamericastreasures.org/" target="_blank">Save America’s Treasures <span class="glyphicon glyphicon-new-window"/></a> grant (through the National Park Service and National Endowment for the Arts).  (More information about that process is available <a href="https://www.archaeologysouthwest.org/projects/collections/" target="_blank">here <span class="glyphicon glyphicon-new-window"/></a>.) The Center for Desert Archaeology and Salmon Ruins Museum collaboration also resulted in a series of reports published in 2006 (<a href="https://www.archaeologysouthwest.org/product/thirty-five-years-of-archaeological-research-at-salmon-ruins-new-mexico-3-volumes/" target="_blank"><em>Thirty-Five Years of Archaeological Research at Salmon Ruins, New Mexico</em> (3 volumes) <span class="glyphicon glyphicon-new-window"/></a> edited by Paul F. Reed) and a virtual rendering of Salmon Pueblo and virtual exhibit titled <a href="https://www.archaeologysouthwest.org/2014/05/29/chacos-legacy-2/" target="_blank"><em>Chaco’s Legacy</em> <span class="glyphicon glyphicon-new-window"/></a> with Douglas Gann).</p>

<p>In 2015, the Salmon Pueblo Archaeological Research Collection project was funded through at a <a href="https://www.neh.gov/" target="_blank">National Endowment for the Humanities <span class="glyphicon glyphicon-new-window"/></a> Collections and Reference grant (grant number: PW-228168-15). The goal of this project is to preserve and make accessible incomparable legacy data from the important excavations of the Chacoan cultural center of Salmon Pueblo.</p>

<h2 id="goals">SPARC Project Goals and Accomplishments:</h2>

<p>SPARC is the result of a collaboration between four institutions dedicated to the preservation of cultural heritage: the Salmon Ruins Museum, Archaeology Southwest, the Center for Digital Research in the Humanities at the University of Nebraska-Lincoln, and the Institute for Advanced Technology in the Humanities at the University of Virginia.  This project was done in consultation with the Zuni Cultural Resource Advisory Team, the Hopi Cultural Preservation Office, and the Navajo Nation Heritage and Historic Preservation Department. While the prior excavations at Salmon Pueblo are seen as undesirable by Native peoples we are trying to make the best use of the information obtained from those excavations. From a preservation perspective this seems like a more ethical course of action as opposed to other forms of archaeological research (such as new excavation). In short, we are trying to shift the archaeological paradigm towards preservation and legacy data.</p>

<p>National Endowment for the Humanities support for SPARC was directed towards three major stages of work: (1) digital acquisition, (2) data integration and management, and (3) online preservation of and access to materials. Through this dedicated website and shared presence in the Chaco Research Archive, SPARC resources can be distributed to diverse audiences interested in issues ranging from material culture studies, Indigenous religions, identity and ethnicity, and the transformation of human communities over time—making it responsive to the National Endowment for the Humanities’ “Bridging Cultures” initiative by expanding Americans’ understanding of Native peoples of the past.  <%# TODO [SPECIFIC METRICS ABOUT # of Images, # of documents, # of data tables] %></p>

<p>This partnership has allowed us to make the entire Salmon Pueblo archive freely and openly available through this online research portal. SPARC is an exceptional primary resource for a range of disciplines from across the humanities and social sciences with shared interests in material culture, North American cultural heritage, and Native American history. Making the full range of excavation data from Salmon Pueblo openly available allows researchers to address fundamental questions about this historically and culturally significant expression of human complexity, such as: How and why did people in the New World first choose to band together into large-scale communities? What was the genesis of religious and political authority in the formation of chiefly societies?</p>

<p>Much of the information from the Salmon excavations contained in SPARC is currently accessible in published volumes and to those who request access through the Salmon museum.  In short, this information is already available.  That said, it has only been accessible to individuals who have access to those publications, access to specific scholarly networks, or access to the collections themselves.  The online publication of SPARC broadens access to those materials. Access to cultural heritage can be used both as a tool for teaching and learning about cultural diversity and it can also be used as a tool for continued exploitation.  Our intent has always been towards the former and we are striving to make sure that is the case.</p>

<p>Bringing all the information together (from various prior studies) to build the Salmon Pueblo Archaeological Research Collection has, for instance, resulted in a more accurate and complete record of human remains removed during the 1970s excavations.  As a result, the SPARC project has already helped expand the recently completed NAGPRA inventory amendment.  Based on prior experience with the Chaco Research Archive, we hope SPARC resources will also be used to research NAGPRA claims.  So while open access to these records may invite scrutiny, it will also allow descendant communities to readily obtain information to support repatriation claims for items of cultural patrimony. </p>

<h2 id="policies">Policies</h2>

<h3>Staff</h3>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Affiliation</th>
        <th>Project Role</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Baker, Larry L.</td>
        <td>Salmon Ruins Museum and Library</td>
        <td>Institutional Lead</td>
      </tr>
      <tr>
        <td>Doelle, William H.</td>
        <td>Archaeology Southwest</td>
        <td>Advisor</td>
      </tr>
      <tr>
        <td>Heitman, Carrie</td>
        <td>University of Nebraska-Lincoln; Center for Digital Research in the Humanities; Co-Principal Investigator, Chaco Research Archive</td>
        <td>Project Director, Institutional Lead</td>
      </tr>
      <tr>
        <td>Martin, Worthy</td>
        <td>University of Virginia; Institute for Advanced TEchnology in the humanities; Co-Principal Investigator, Chaco Research Archive</td>
        <td>Institutional Lead</td>
      </tr>
      <tr>
        <td>Plog, Stephen</td>
        <td>University of Virginia; Co-Principal Investigator, Chaco Research Archive</td>
        <td>Co-Collaborator</td>
      </tr>
      <tr>
        <td>Reed, Paul</td>
        <td>Archaeology Southwest</td>
        <td>Co-Project Director, Institutional Lead</td>
      </tr>
      <tr>
        <td>Walter, Katherine</td>
        <td>University of Nebraska-Lincoln, Center for Digital Research in the Humanities</td>
        <td>Advisor</td>
      </tr>
    </tbody>
  </table>
</div>

<h3>Names to Add to Above Table</h3>

<p>Robbie Bingler</p>
<p>Shayne Brandon</p>
<p>Erin Brooks</p>
<p>Karin Dalziel</p>
<p>Jessica Dussault </p>
<p>Catherine Elliott</p>
<p>Nancy Espinosa</p>
<p>Emma Gibson</p>
<p>Annie Reiva</p>
<p>Jennifer Thoegersen</p>
<p>Sydney Tillotson</p>
<p>Greg Tunink</p>
<p>Laura Weakly</p>

<h3>Credits</h3>

<p><a href="https://www.neh.gov/" target="_blank">National Endowment for the Humanities <span class="glyphicon glyphicon-new-window"/></a></p>
<p><a href="https://www.archaeologysouthwest.org/" target="_blank">Archaeology Southwest <span class="glyphicon glyphicon-new-window"/></a></p>
<p><a href="https://www.salmonruins.com" target="_blank">Salmon Ruins Museum & Library<span class="glyphicon glyphicon-new-window"/></a></p>
<p>San Juan County Museum Association</p>
<p><a href="https://cdrh.unl.edu" target="_blank">University of Nebraska-Lincoln - Center for Digital Research in the Humanities <span class="glyphicon glyphicon-new-window"/></a></p>
<p><a href="http://www.iath.virginia.edu/" target="_blank">University of Virginia - Institute for Advanced Technology in the Humanities <span class="glyphicon glyphicon-new-window"/></a></p>

<h3>Contact</h3>
