<h2>Native Descendants</h2>

<p>This pueblo was built and inhabited by ancestors of contemporary Native people of the Southwest and is today not considered a ruin, but a place that is alive with those ancestral connections and where migration was part of a larger spiritual covenant.</p>

<p>Many Tribes and Nations claim ancestry to Salmon Pueblo. Though it is commonly referred to by the surname of colonial settler George Salmon who owned the site from the early 1890s until 1956, it is known by other names in the numerous Indigenous languages of the region.</p>

<p>Salmon Pueblo was an important part of the greater Chaco Canyon cultural landscape during the eighth through thirteenth centuries CE. Today, Twenty-six Tribes and Nations serve on the National Park Service Tribal Consultation Board for Chaco Culture National Historical Park. For the purposes of this project, those same 26 Tribes and Nations are listed here. The SPARC website does not provide information on their interpretations or histories of Salmon Pueblo.</p>

<p>Our hope is that SPARC is a first step towards decentering Euro-American forms of interpretation/classification for items of cultural heritage. We would like to work with interested tribes to create a revised version of SPARC that could serve as a model for how to foreground Indigenous perspectives about these items.</p>

<p>Twenty-six Tribes and Nations serve on the National Park Service Tribal Consultation Board for Chaco Culture National Historical Park:</p>

<p><a href="https://www.hopi-nsn.gov/" target="_blank">Hopi Tribe of Arizona <span class="glyphicon glyphicon-new-window"/></a></p>
<p>Jicarilla Apache Nation</p>
<%# TODO is this URL correct? %>
<p><a href="http://santodomingotribe.org/" target="_blank">Kewa Pueblo <span class="glyphicon glyphicon-new-window"/></a></p>
<p><a href="https://mescaleroapachetribe.com/" target="_blank">Mescalero Apache Tribe <span class="glyphicon glyphicon-new-window"/></a></p>
<p><a href="http://www.navajo-nsn.gov/" target="_blank">Navajo Nation <span class="glyphicon glyphicon-new-window"/></a></p>

<p>Ohkay Owingeh</p>
<p><a href="http://www.puebloofacoma.org/" target="_blank">Pueblo of Acoma <span class="glyphicon glyphicon-new-window"/></a></p>
<p><a href="http://www.pueblodecochiti.org" target="_blank">Pueblo of Cochiti <span class="glyphicon glyphicon-new-window"/></a></p>
<p><a href="http://www.isletapueblo.com/" target="_blank">Pueblo of Isleta <span class="glyphicon glyphicon-new-window"/></a></p>
<p><a href="http://www.jemezpueblo.com/" target="_blank">Pueblo of Jemez <span class="glyphicon glyphicon-new-window"/></a></p>

<p><a href="http://www.lagunapueblo-nsn.gov/" target="_blank">Pueblo of Laguna <span class="glyphicon glyphicon-new-window"/></a></p>
<p><a href="http://www.nambepueblo.org" target="_blank">Pueblo of Nambé <span class="glyphicon glyphicon-new-window"/></a></p>
<p><a href="http://www.picurispueblo.org/" target="_blank">Pueblo of Picuris <span class="glyphicon glyphicon-new-window"/></a></p>
<p><a href="http://www.pojoaque.org/" target="_blank">Pueblo of Pojoaque <span class="glyphicon glyphicon-new-window"/></a></p>
<p>Pueblo of San Felipe</p>

<p><a href="http://www.sanipueblo.org/" target="_blank">Pueblo of San Ildefonso <span class="glyphicon glyphicon-new-window"/></a></p>
<p><a href="http://www.sandiapueblo.nsn.us/" target="_blank">Pueblo of Sandia <span class="glyphicon glyphicon-new-window"/></a></p>
<p><a href="http://www.santaana.org/" target="_blank">Pueblo of Santa Ana <span class="glyphicon glyphicon-new-window"/></a></p>
<p>Pueblo of Santa Clara</p>
<p><a href="http://www.taospueblo.com/" target="_blank">Pueblo of Taos <span class="glyphicon glyphicon-new-window"/></a></p>

<p>Pueblo of Tesuque</p>
<p>Pueblo of Zia</p>
<p><a href="http://www.ashiwi.org/" target="_blank">Pueblo of Zuni <span class="glyphicon glyphicon-new-window"/></a></p>
<p><a href="https://www.southernute-nsn.gov/" target="_blank">Southern Ute Tribe <span class="glyphicon glyphicon-new-window"/></a></p>
<p><a href="http://www.utemountainutetribe.com/" target="_blank">Ute Mountain Ute Tribe <span class="glyphicon glyphicon-new-window"/></a></p>

<p><a href="http://www.ysletadelsurpueblo.org/" target="_blank">Ysleta del Sur Pueblo of Texas <span class="glyphicon glyphicon-new-window"/></a></p>
