</div><!-- container -->

<div class="container-fluid home_first_band">
  <div class="container">
    <p>The goal of SPARC is to preserve, publish, and promote understanding of the ancient cultural center of Salmon Pueblo.</p>
  </div>
</div>

<div class="container home_alternate_band">
  <p>Salmon was a large pueblo and cultural center built around 1090 CE on the north bank of the San Juan River, 45 miles north of Chaco Canyon near the modern city of Farmington, New Mexico. Many Tribes and Nations claim ancestry to this place.  It is known by other names in the numerous Indigenous languages of the Southwest though it is commonly referred to by the surname of colonial settler George Salmon who owned the site from the early 1890s until the mid-1950s.  Today, the site is owned by San Juan County and preserved through the efforts of the San Juan County Museum Association, a non-profit organization. The <a href="" target="_blank">Salmon Ruins Museum <span class="glyphicon glyphicon-new-window"></span></a> is open to the public.</p>

  <p>This three-story, 275 room pueblo was the first major colony established by the Chacoan people and is one of the largest Chacoan communities found outside of <a href="https://www.nps.gov/chcu/index.htm" target="_blank">Chaco Culture National Historical Park <span class="glyphicon glyphicon-new-window"></span></a>. Salmon pueblo was occupied until about 1280 CE when much of the site was burned and inhabitants migrated to other areas of the Southwest.  Archaeologist Cynthia Irwin-Williams led a research program at Salmon Pueblo from 1970-1979 which generated 1.5 million artifacts, specimens and samples. It is the only Chacoan great house in the American Southwest to be comprehensively excavated in the last 40 years.  </p>
  <p>
    The Salmon Pueblo Archaeological Research Collection (SPARC) connects with and builds from the efforts of the <a href="http://www.chacoarchive.org/cra/" target="_blank">Chaco Research Archive <span class="glyphicon glyphicon-new-window"></span></a> to enhance access to archaeological research on Chaco Canyon, New Mexico.
  </p>
</div><!-- /container -->

<div class="container-fluid home_second_band">

<div class="row">
  <div class="col-sm-6">
    <%= link_to explore_path, class: "content home_callout1 home_callout" do %>
      <div class="explore_inner">
        <div class="row">
          <div class="col-md-9 col-md-offset-3">
            <div class="inner_content">
              <h4>Explore</h4>
              <p>Interactive map of Salmon Pueblo</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div><!-- /col -->
  <div class="col-sm-6">
    <%= link_to documents_path, class: "content home_callout3 home_callout" do %>
      <div class="explore_inner">
        <div class="row">
          <div class="col-md-9 ">
            <div class="inner_content">
              <h4>Documents</h4>
              <p>Access 35,000+ pages of excavation documents</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div><!-- /col -->
</div><!-- /row -->

<div class="row">
  <div class="col-sm-6">
    <%= link_to query_path, class: "content home_callout2 home_callout" do %>
      <div class="explore_inner">
        <div class="row">
          <div class="col-md-9 col-md-offset-3">
            <div class="inner_content">
              <h4>Query</h4>
              <p>Ask questions from across 24 different archaeological data tables.</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div><!-- /col -->
  <div class="col-sm-6">
    <%= link_to gallery_path, class: "content home_callout4 home_callout" do %>
      <div class="explore_inner">
        <div class="row">
          <div class="col-md-9">
            <div class="inner_content">
              <h4>Gallery</h4>
              <p>View 11,000+ images from the Salmon excavations</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div><!-- /col -->
</div><!-- /row -->
