// Colors
$beige: #F3EDE6; // Used in footer
$darkbeige: #E7D4B3; // used as borders when beige is too light
$gray:  #aaa;    // used in image gallery, decoration
$blue: #467FAC; // link color todo? replace with bootstrap?
