// Colors
@import "colors";

// Hover fill
$fill: $blue;

// Buildings
$blgstroke: #2e2924; // dark brown

// Trenches and doorways
$trenchstroke: #a9937e; // lighter brown

// Legend and compass
$legstroke: #000;



/* Styling for Maps / Explore */

#map_container {
  background-color: lighten(#F3EDE6, 4%);
  border: 1px solid #E7D4B3;
  height: 80vh;
  width: 100%;
}

// Map Controls (top of page)
.map_controls {
  margin: .5em 0 .8em 0;
}

.map_controls h3 {
  font-size: 1.4em;
  font-weight: 800;
  margin: .2em 0 .3em 0;
}

.map_trench_controls {
  margin-bottom: .3em;
}

.map_occupation_help {
  font-size: 1.5em;
}

#map_container a {
  border: none;
}

/* ------------------------ */
/* styles pulled out of SVG */
/* ------------------------ */

/* svg element */
#map_combined {
  display: block;
  height: inherit;
  max-height: inherit;
  max-width: inherit;
  min-height: inherit;
  min-width: inherit;
  overflow: hidden;
  width: inherit;
}

// Shared Styles

.bldgline, 
.doorline, 
.legline, 
.poly_a,
.poly_b, 
.poly_c, 
.poly_d, 
.poly_e, 
.poly_f { 
  fill-opacity: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-width: 0.7;
}

// Doorways

.doorline {
  fill: none;
  stroke: $trenchstroke;
}
          
// Legend
    
.legline {
  fill: none;
  stroke: $legstroke;
}

// Buildings
// almost everything in san juan, outer in chaco
.bldgline { 
  fill: none;
  stroke: $blgstroke;
}

// the rest of the san juan and chaco buildings
.poly_a, 
.poly_b { 
  stroke: $blgstroke;
}

.poly_a {
  stroke-opacity: 0;
}

// Trenches and back wall

.poly_c, 
.poly_d, 
.poly_e, 
.poly_f {
  stroke: $trenchstroke;
}

a:focus path,
a:hover path, 
a:focus polygon,
a:hover polygon, 
a:focus polyline,
a:hover polyline,
a:focus rect, 
a:hover rect {
  fill-opacity: .5;
  fill: $fill;
  stroke-opacity: 1;
  stroke: $fill;
}

#trenches a:focus,
#trenches a:hover {
  text-decoration: none;
}

.svg-pan-zoom-control { 
  cursor: pointer; 
  fill-opacity: 0.333; 
  fill: black; 
} 

.svg-pan-zoom-control:focus,
.svg-pan-zoom-control:hover { 
  fill-opacity: 0.8; 
} 

.svg-pan-zoom-control-background { 
  fill-opacity: 0.5; 
  fill: white; 
} 
.svg-pan-zoom-control-background { 
  fill-opacity: 0.8; 
}
