/* Styling for Maps / Explore */

/* div around svg */
#map_container {
  border: 1px solid black;
  height: 600px;
  margin: 48px auto;
  width: 900px;
}

/* layer controls */
#map_layer_controls label {
  font-size: 18px;
}

/* ------------------------ */
/* styles pulled out of SVG */
/* ------------------------ */

/* svg element */
#map_combined {
  display: block;
  height:inherit;
  overflow: hidden;
  max-height:inherit;
  max-width:inherit;
  min-height:inherit;
  min-width:inherit;
  width:inherit;
}

/* taken from SVG itself */
a:hover polygon {
  fill: #FF0000;
  fill-opacity: 0.1;
  stroke: #FF0000;
}
