// Colors
@import "bootstrap-sprockets";
@import "bootstrap/_variables";
@import "bootstrap";
@import "colors";

// ---------------
// CDRH Common code
// ---------------

// Bottom margin classes
.buffer-bottom {
  margin-bottom: 1em;
}
.buffer-bottom-lg {
  margin-bottom: 1.5em;
}
.buffer-bottom-sm {
  margin-bottom: 0.5em;
}
.buffer-bottom-xl {
  margin-bottom: 2em;
}
.buffer-bottom-xs {
  margin-bottom: 0.25em;
}

// Extend Selectors
%simple_button {
  border: 1px solid $darkbeige;
  display: inline-block;
  font-size: .95em;
  margin-bottom: .3em;
  margin-right: .02em;
  min-width: 1.2em;
  padding: .1em .15em;
  text-align: center;
  text-decoration: none;
}

%simple_button_background {
  background-color: $beige;
}

// Utility classes
.simple_list {
  list-style: none;
}

// Columns 
@media (min-width: $container-tablet) {
  .column_3 {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
  }
}

//---------------
// HTML
//---------------

html {
  background-color: lighten($gray-base, 75%);
}

@font-face {
  font-family: 'joehand_2regular';
  font-style: normal;
  font-weight: normal;
  src: font-url('jh2trial-webfont.woff2') format('woff2'),
    font-url('jh2trial-webfont.woff') format('woff');
}

.tab-pane {
  padding: 10px 0;
}

// change fonts for main h2 subheads
.main_content > h2 {
  font-family: 'Jura', sans-serif;
  font-size: 2.3em;
}

// Pagination

.pagination {
  margin: .5em 0;
  padding: 0;
  a, em, span {
    @extend %simple_button;
  }
  a:focus, a:hover {
    @extend %simple_button_background;
  }
  .current {
    background-color: lighten($gray-base, 75%);
  }
}

.pagination_container .pagination {
  float: right;
}

.navbar-toggle {
  background-color: #fff;
}

// Image display

.illustration {
  max-width: 100%;
  img {
    max-width: 100%;
  }
  .caption {
    background-color: $beige;
    font-size: .9em;
    margin-top: .5em;
    padding: .2em .4em;
    text-align: center;
  }
  &.illustration_center {
    margin: 20px auto;
    text-align: center;
  }
  &.illustration_left {
    margin: 0 20px 20px 0;
    float: left;
  }
  &.illustration_right {
    margin: 0 0 20px 20px;
    float: right;
  }
}

@media (max-width: $container-tablet) {
  .illustration {
    float: none !important;
    &.illustration_center, 
    &.illustration_left,
    &.illustration_right {
      margin: 20px 0;
    }
  }
}

// Specific illustration rules
// Keeing these here instead of individual 
// sections so I can keep track of them

.query_illustration {
  width: 300px;
}

.background_illustration_1 {
  width: 600px;
}

.background_illustration_2 {
  width: 400px;
}

.background_illustration_3 {
  width: 400px;
}

.credits_illustration {
  width: 500px;
}

.goals_illustration_1,
.goals_illustration_2,
.goals_illustration_3,
.goals_illustration_4 {
  width: 350px;
}

// END Specific illustration rules


// Generic Gallery Code (Used in Explore and Image Gallery)

// Anchor is wrapped around image and text
a.gallery_link {
  color: #000;
  text-decoration: none;
  &:focus, &:hover {
    text-decoration: none;
  }
}

// Info about each item
ul.gallery_info {
  list-style: none;
  padding: 0;
  li {
    font-size: .9em;
    line-height: 1.1em;
  }
}

.gallery_row {
  h3 {
    margin: 0 0 .2em 0;
    color: $blue;
  }
}

.gallery_entry {
  border-top: solid 4px $beige;
  margin: .5em 0 0 0;
  padding: 1em .5em .2em .5em;
  &:focus, &:hover {
    background-color: $beige;
    h3 {
      text-decoration: underline;
    }
  }
}

// Hover and Zoom callout CSS, used on Home and Explore
a.content {
  background-position: center;
  background-size: 800px 600px;
  display: block;
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
  padding: 0;
  &:focus, &:hover {
    background-position: center;
    background-size: 960px 720px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    .inner_content {
      border-bottom: 10px solid $blue;
      padding-top: 1.5em;
    }
  }
  .row {
    margin-left: 15px;
    margin-right: 15px;
  }
  &:focus h4, &:hover h4 {
    font-weight: 800;
  }
  .inner_content  {
    color: #000;
    background-color: rgba(255,255,255,.85);
    padding: .5em;
    transition: padding 0.5s;
    -moz-transition: padding 0.5s;
    -o-transition: padding 0.5s;
    -webkit-transition: padding 0.5s;
    h4 {
      font-family: 'Jura', sans-serif;
      font-weight: 100;
    }
  }
}

.home_callout {
  border: 4px solid $darkbrown;
  display: block;
  font-size: 1.2em;
  height: 16em;
  .explore_inner {
    background-color: rgba(0,0,0,.25);
    height: 100%;
  }
  &:focus, &:hover {
    .explore_inner {
      background-color: transparent;
    }
  }
}

@media (max-width: $container-tablet) {
  .home_callout {
    height: 13em;
  }
}

//---------------
// Footer
//---------------

.project_footer {
  background-color: lighten($gray-base, 75%);
  margin-top: 50px;
  padding: 30px 0 60px 0;
}

.logo_sr {
  padding-bottom: 1.5em;
}

.logo_neh {
  padding-bottom: 3em;
}

.logo_as {
  padding-bottom: 1.5em;
}

.logo_unl {
  padding-bottom: 1.5em;
}

// .logo_iath {}

.footer_logos {
  margin-top: 2em;
}

//---------------
// Navigation
//---------------

// Navbar

.navbar-default {
  background-color: $brand-primary;
  a {
    font-size: 1.1em;
  }
  .navbar-nav li.active a {
    background-color: darken($brand-primary, 10%); /* For older browsers */
    background-color: rgba(0,0,0,.2);
    &:focus, &:hover {
      background-color: darken($brand-primary, 15%); /* For older browsers */
      background-color: rgba(0,0,0,.3);
      color: #fff;
    }
  }
}

.sparc_navbar {
  background: image-url('topographic_bottom.jpg') center top no-repeat $brand-primary;
  margin-top: -4px;
}

// logo (words)

.header_words {
  display: inline-block;
  float: left;
  font-size: 2.4em;
  height: 60px;
  margin: 0;
  padding: .3em .5em .1em 0;
  &:focus,
  &:hover {
    background-color: rgba(255,255,255,.2);
  }
  a {
    color: #fff;
    &:focus,
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.head_sp {
  display: block;
  font-family: 'joehand_2regular';
  font-weight: 100;
}

.head_arc {
  display: block;
  font-family: 'Jura', sans-serif;
  font-size: .26em; 
  line-height: 0;
  margin-top: -1.3em;
}

// Sub navigation

.sparc_subnavbar {
  &.navbar {
    height: 30px;
    margin-top: -20px;
    min-height: 33px;
    padding: 0;
    height: auto;
  }
  .nav li a {
    height: 31px;
    padding-bottom: 15px;
    padding-top: 5px;
  }
}


//---------------
// Explore Pages
//---------------

// Map css is in maps.scss

//Unit search and browse
.explore_choices {
  margin-top: 1.5em;
}

// Extends code from home page
// Interactive Map
.explore_callout1 {
  background-image: image-url('home_explore.jpg');
  border-bottom-width: 2px;
}

// Browse Units
.explore_callout2 {
  background-image: image-url('explore_unit_2.jpg');
  border-top-width: 2px;
}

// Change border widths when non mobile so they're not doubled
@media (min-width: $container-tablet) {
  // Interactive Map
  .explore_callout1 {
    border-bottom-width: 4px;
    border-right-width: 2px;
  }
  // Browse Units
  .explore_callout2 {
    border-left-width: 2px;
    border-top-width: 4px;
  }
}

.explore_summary_mm {
  text-align: center;
  img {
    border: 2px solid $darkbrown;
    max-width: 100%;
  }
}

// Images and documents tabs
.explore_see_more {
  margin: 1em 0 2em 0;
}

.explore_sample_image {
  height: 100%;
  text-align: center;
  img {
    margin: 5px;
    max-width: 100%;
  }
}

.explore_zone_image {
  border: 1px solid #E7D4B3;
  max-width: 100%;
}

#unit_search_list {
  list-style-type: none;

  column-count: 4;
  -moz-column-count: 4; /* Firefox */
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
}


//---------------
// Query Pages
//---------------

// Common Search Options

.combined_selections .list-group {
  margin-bottom: 0;
}

.common_search_help {
  cursor: pointer;
  font-size: 1.75em;
  line-height: 1.25em;
}

.checked-list-box {
  max-height: 300px;
  overflow-y: auto;
}

// Rest of Query

.query_subnav {
  background-color: lighten($gray-base, 75%);
  margin: 2em 0;
  padding: 5px;
}

.query_description_display, 
.query_other_otions_btn_wrap {
  border-bottom: 1px solid darken($beige,35);
  margin-bottom: 40px;
  button {
    display: block;
    margin: 0 auto -18px auto;
  }
}

#query_other_otions {
  border-bottom: 1px solid darken($beige, 35);
  margin-bottom: .5em;
}


//---------------
// Documents
//---------------

.document_unit_list {
  list-style: none;
  margin: 0;
  padding: 0;
  li a {
    border: solid 1px $darkbeige;
    float: left;
    margin: 0 5px 5px 0;
    padding: .5em;
    width: 4.5em;
  }
}

.documents_nodocs {
  color: lighten(#000, 60);
  font-size: .9em;
  margin-top: 4em;
}

// Universal Viewer

.document_selection {
  background-color: #000;
  padding: .2em
}

#manifestSelect {
  display: block;
  font-size: 16pt;
  margin: 0 auto;
  min-width: 250px;
  width: 30%;
}

#uv_viewer {
  background-color: #000;
  height: 80vh;
  width: 100%;
}


//---------------
// Image Gallery Pages
//---------------

// Specific to image gallery
.image_img img {
  border: solid 2px $gray;
  display: block;
  margin: 0 auto 10px auto;
  max-width: 100%;
  min-height: 180px;
  &:focus, &:hover {
    border-color: $blue;
  }
}

.image_full {
  height: auto;
  max-width: 100%;
}

//---------------
// Native Descendants
//---------------

.descendants_tribes {
  background: lighten($beige, 3);
  font-size: 1.1em;
  margin: 2em 0;
  padding: 20px;
}

//---------------
// About
//---------------

@media (min-width: $container-tablet) {
  .about_main_2 {
    margin-top: 1.5em;
  }
}

//---------------
// Home Page
//---------------

.header_top {
  background: image-url('topographic_top.gif') center bottom no-repeat lighten($gray-base, 75%);
}

.home_first_band {
  background: image-url('band_aerial.jpg') center center;
  height: 400px;
  margin-bottom: 2em;
  margin-top: -22px;
  p {
    background-color: rgba(0,0,0,.6);
    color: #fff;
    float: right;
    font-family: 'Jura', sans-serif;
    font-size: 1.8em;
    height: 400px;
    padding: 20px;
    text-align: center;
    width: 300px;
  }
}

.home_second_band {
  margin-top: 2em;
}

// Set background pictures and border widths
// Explore Link
.home_callout1 {
  background-image: image-url('home_explore.jpg');
  border-bottom-width: 2px;
}

// Query Link
.home_callout2 {
  background-image: image-url('home_query.jpg');
  border-bottom-width: 2px;
  border-top-width: 2px;
}
// Documents Link
.home_callout3 {
  background-image: image-url('home_docs.jpg');
  border-bottom-width: 2px;
  border-top-width: 2px;
}
// Gallery Link
.home_callout4 {
  background-image: image-url('home_gallery.jpg');
  border-top-width: 2px;
}

// Change border widths when non mobile
// so they're not doubled
@media (min-width: $container-tablet) {
  // Explore Link
  .home_callout1 {
    border-right-width: 2px;
  }
  // Query Link
  .home_callout2 {
    border-bottom-width: 4px;
    border-right-width: 2px;
  }
  // Documents Link
  .home_callout3 {
    border-left-width: 2px;
    border-top-width: 4px;
  }
  // Gallery Link
  .home_callout4 {
    border-left-width: 2px;
  }
}

// Logo and image on home page
// Extends code from "navigation"

.home_page {
  .site_logo_container {
    text-align: center;
  }
  .header_words {
    float: none;
    font-size: 3.4em;
    margin-bottom: .5em;
  }
}

.site_image {
  img {
    max-width: 100%;
    width: 240px; 
  }
}

@media (min-width: $container-tablet) {
  .site_image {
    display: inline;
    float: left;
  }

  .site_logo_container {
    height: 240px; 
    margin: 15px auto 0 auto;
    overflow: hidden;
    width: 850px;
  }

  .home_page .header_words {
   font-size: 7em;
   margin-top: 70px;
  }
}

/* MISC */

label,
input,
button,
select,
textarea {
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
}
