

.buffer-bottom {
  margin-bottom: 1em;
}
.buffer-bottom-lg {
  margin-bottom: 1.5em;
}
.buffer-bottom-sm {
  margin-bottom: 0.5em;
}
.buffer-bottom-xl {
  margin-bottom: 2em;
}
.buffer-bottom-xs {
  margin-bottom: 0.25em;
}

/* Styles for sparc subnavigation. Will probably want to refine this if we end up keeping it */

.check_all {
  margin-top: -2px;
}

.combined_selections .list-group {
  margin-bottom:  0;;
}

.sparc_subnavbar.navbar {
  margin-top: -20px;
  height: 30px;
  min-height:30px;
  padding: 0;
}

.sparc_subnavbar .nav li a {
  height:  29px;
  padding-top:5px;
  padding-bottom:15px
}


/* Start Karin's CSS */


html {
  background-color: lighten($gray-base, 75%);
}

@font-face {
  font-family: 'joehand_2regular';
  src: url('jh2trial-webfont.woff2') format('woff2'),
       url('jh2trial-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


/* Subnavigation */

.sparc_subnavbar.navbar {
margin-top: -20px;
min-height:33px;
}

.sparc_subnavbar .nav li a {
 height:  31px;
 padding-top:5px;
}



/* Footer */

.project_footer {
  background-color: lighten($gray-base, 75%);
  padding: 30px 0 60px 0;
  margin-top: 50px
}

.navbar-default .navbar-nav li.active a {
  background-color: darken($brand-primary, 10%); /* For older browsers */
  background-color: rgba(0,0,0,.2);
}

.navbar-default .navbar-nav li.active a:hover {
  background-color: darken($brand-primary, 15%); /* For older browsers */
  background-color: rgba(0,0,0,.3);
  color: #fff;
}


/* Query Pages */

/* Common Search Options */
.check_all {
  margin-top: -2px;
}

.combined_selections .list-group {
  margin-bottom:  0;
}

.checked-list-box {
  max-height:300px;
  overflow-y: auto;
}

.query_subnav {
  background-color: lighten($gray-base, 75%);
  padding: 5px;
}

/* Other */

.tab-pane {
  padding:10px 0;
}


/* Documents */

.document_unit_list, .document_type_list  {
  list-style: none;
  margin: 0;
  padding: 0;
}

.document_unit_list li a,
.document_type_list li a{
  float: left;
  border:  solid 1px #E7D4B3;
  margin: 0 5px 5px 0;
  padding: .5em;
}

.document_unit_list li a {
  width: 4.5em;
}

.document_unit_list li a:hover,
.document_type_list li a:hover {
  background-color: lighten($gray-base, 75%);
}

.document_thumbnail {
  width: 160px;
  height: 160px;
  float: left;
  margin: 0 2px 10px 0;
}

/* Thumbnails on type page */
.docs_by_type .document_thumbnail h4 {
  font-size: 1.3em;
}

.docs_by_type .document_thumbnail {
  height: 200px;
}

.doc_type_active {
  background-color: $gray-base;
  color: #FFF;
}

// Delete these if we don't end up using them
//.rt_red, .rt_yellow, .rt_purple, .rt_green, .rt_blue {
//  display: inline-block;
//  padding:5px;
//}

//.rt_red {background-color: #D75C6F}     /* esi */
//.rt_yellow {background-color: #F6F087}  /* field notes */
//.rt_purple {background-color: #B998C6}  /* feature records */
//.rt_green {background-color: #AFCE6E}   /* media */
//.rt_blue {background-color: #7499E1}    /* room records */

.document_selection {
 background-color: #000;
 padding: .2em
}

#manifestSelect {
  display: block;
  font-size: 16pt;
  margin: 0 auto;
  min-width: 250px;
  width: 30%;
}

#uv_viewer {
  background-color: #fff;
  height: 80vh;
  width: 100%;
}

/* Header */

/* header_logo */


.header_words {
  font-size: 2.4em;
  display: inline-block;
  float: left;
  padding: .3em .5em .1em 0;
  margin: 0;
  height:60px
}

.header_words:hover {
  background-color: rgba(255,255,255,.2);
}

.header_words a {
  color: #fff;
}

.header_words a:hover {
  color: #fff;
  text-decoration: none;
}

.head_sp {
  display: block;
  font-family: 'joehand_2regular';
  font-weight: 100;
}

.head_arc {
  display: block;
  font-family: 'Jura', sans-serif;
  line-height: 1em;
  font-size: .26em; 
  margin-top: -1.3em;
}

.site_image {
  display: inline;
  float: left;
}

.site_image img {
  width: 240px; 
}

/* Logo on main page */

.header_words_nav a {
  color: $gray-base;
}

.header_words_nav a:hover {
  color: $gray-darker;
}

.header_words_nav {
  margin-top: 90px;
}

.header_words_nav .head_sp {
  font-size: 3em;
}

.header_words_nav .head_arc {
  font-size: .8em;
  margin-top: -1.5em;
}



/* Navbar */

.navbar-default {
  background-color: $brand-primary;
}

.navbar-default a {
  font-size: 1.1em;
}

.header_top {
  background: url('topographic_top.gif') center bottom no-repeat lighten($gray-base, 75%);
}

.sparc_navbar {
  background: url('topographic_bottom.jpg') center top no-repeat $brand-primary;
  margin-top: -4px;
}

.site_logo_container {
  overflow: hidden;
  width: 850px;
  margin: auto;
  height: 240px; 
  margin-top: 15px;
}



/* Home Page */

.home_first_band {
  background: url('band_aerial.jpg') center center;
  height: 400px;
}

.home_first_band p {
  background-color: rgba(0,0,0,.6);
  padding: 20px;
  color: #fff;
  font-size: 1.4em;
  vertical-align: bottom;
  float: right;
  width: 300px;
  height: 400px;
}

.home_alternate_band {
  margin: 20px auto;
}

.home_second_band .container {
  background: url('topographic_bottom.jpg') center top no-repeat #4c83ab;
  text-align: center;
  padding: 20px;
}
   
.home_second_band p {
  color: #fff;
  font-size: 1.3em;
  line-height: 1;
}
   
.home_callout .content {
  font-size: 1.2em;
  height: 14em;
  margin: 10px 0;
  padding: 10px;
  border: 4px solid $gray-light;
  border-radius: 8px;
  display: block;
}

.home_callout a:hover {
  text-decoration: none;
}

.home_callout .content:hover {
  font-size: 1.2em;
  height: 14em;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  display: block;
}

.home_callout .inner_content {
  background-color: rgba(255,255,255,.7);
  width: 50%;
  padding: 10px;
  border-radius: 8px;
}
   
.home_callout1 .content,
.home_callout4 .content {
  background: #F7ECDB;
}

.home_callout .content:hover {
  border-color: $brand-primary;
}

.home_callout .content:hover .inner_content {
  border-color: $brand-primary;
  background-color: rgba(255,255,255,.9);
}

.home_callout1 .content {
  background: url('writing.png') #4c83ab !important;
  background-size: cover;
}

.home_callout2 .content {
  background: url('shards1.png') #4c83ab;
  background-size: cover;
}

.home_callout3 .content {
  background: url('bricks1.png') #4c83ab;
  background-size: cover;
}

.home_callout4 .content {
  background: url('landscape.png') #4c83ab;
  background-size: cover;
}











/* Color reference: Remove Later */

.color-gray-darker {background-color: $gray-darker}

.color-gray-dark {background-color: $gray-dark}

.color-gray {background-color: $gray}

.color-gray-light {background-color: $gray-light}

.color-gray-lighter {background-color: $gray-lighter}

.color-brand-primary {background-color: $brand-primary}

.color-brand-success {background-color: $brand-success}

.color-brand-info {background-color: $brand-info}

.color-brand-warming {background-color: $brand-warning}

.color-brand-danger {background-color: $brand-danger}

.color-body-bg {background-color: $body-bg}

.color-gray-base {background-color: $gray-base}


