@import "bootstrap-sprockets";
@import "bootstrap";

.related-search-results {
  max-height: 200px;
  max-width: 600px;
  overflow: auto;
}

table.add-existing {
  width: auto;
}
table.add-existing td {
  border-bottom: none !important;
  border-left: none !important;
}
.modal-body {
  overflow: auto;
}
.add-area {
  overflow: auto;
  max-height: 150px;
  min-width: 550px;
  border: 1px solid;
  padding: 3px !important;
}
.edit-related-data {
  border: 1px solid;
  padding: 5px !important;
}
.add-area a.destroy {
  background-image: image-url('cross.png');
    font-weight: bold;
//    display: block;
    height: 16px;
    padding: 0;
    width: 16px;
    text-indent: -4000px;
    background: 0 0 no-repeat;
  color:red;
  
}
.active-scaffold .sub-form table td {
  color: black !important;
}

.guest-actions {
  float: right;
  font: bold 14px arial;
  letter-spacing: -1px;
  text-decoration: none;
  padding: 1px 2px;
  white-space: nowrap;
  margin-left: 5px;
  background-position: 1px 50%;
  background-repeat: no-repeat;
}
.guest-search {
  background-image: image-url('magnifier.png');
    margin: 0;
    padding: 5px 5px 5px 25px;
    background-position: 5px 50%;
    background-repeat: no-repeat;
}
.download {
  color: black !important; 
  text-decoration: none !important;
}
.reset-override {
  margin-top: 0px !important;
}
.title-page {
  height: 62px;
}
#content .active-scaffold th a,
#content .active-scaffold th p {
  background-color: transparent;
}
#content .edit,
#content .show_search,
#content .destroy,
#content .destroy_existing,
#content .disabled,
#content h2,
#content .active-scaffold-header .actions {
  display: none;
}
#content .main-content ol li .form-element,
li {
  list-style: none !important;
}

.show_scroll_div {
  width:400px;height:70px;background-color:#e6e6e6;border:1px solid;overflow:auto;
}

.ceramic_group {
  background: #E9F2F9;
  border:1px solid;
  
/*  width: 600px;*/
}
.ceramic_group {
  background: #E9F2F9;
  border:1px solid;
  
/*  width: 600px;*/
}

.ceramic_group table td{
  border: 1px solid #E9F2F9;
  text-align: left;
}

.ceramic_group_header {
  background: white;
  border: 1px solid white;
}
.ceramic_group_header td {
  border: 1px solid white;
}
.ceramic_group_header table {
  border: none ;
}
.show-list {
  min-height: 5px;
  max-height: 80px;
  width: 500px;
  overflow: auto;
  border: 1px solid;
}
#image-viewer {
  width:700px;
  height: 600px;
//  display: none;
}
.active-scaffold a.inline-adapter-close {
  background-image: image-url('close.png') !important;
}
