<h2>Documents</h2>

<div class="clearfix"></div>
<h4>Browse Documents by Unit</h4>

<p>The grid below includes all of the units excavated by C. Irwin-Williams and her staff and students during the San Juan Valley Archaeological Program excavations at Salmon Pueblo. Once you select a unit of interest, you can browse all of the excavation documents from that unit (see also the <%= link_to "Explore Pueblo", explore_path %> map view).  Using the dropdown menu at the top of the gallery viewer, you can move between different document types including Field Notes, Field Notes Summary, Media, Media Drawings, Media Maps, Feature Records, Feature Records (Select Artifact), Room Records, and Extended Strat Info.  </p>

<p>The viewer allows you to zoom in and out on a document of interest, page through the notes, or to quickly jump between pages by selecting from the thumbnail image gallery in the left hand panel.  Tools in the lower left corner of the viewer also allow you to share and embed links to specific images and download high-resolution image files of particular documents or images of interest.</p>

<ul class="document_unit_list">
  <% @units.each do |unit| %>
    <li><%= link_to unit.unit_no, documents_unit_path(unit.unit_no) %></li>
  <% end %>
</ul>

<div class="clearfix"></div>
<p class="documents_nodocs">Units with no documents: <%= @units_no_docs.map(&:unit_no).join("; ") %></p>
