<h1>Explore Pueblo</h1>

<p>Browse maps of the site</p>
<p>TODO all of the links on this page will eventually be condensed into a single view</p>

<h2>Early</h2>
<ul>
  <li><%= link_to "Zoomable with Links", explore_e_zoom_path %></li>
  <li><%= link_to "Zoomable Links With Overlay that Don't Yet Work", explore_e_zoom_links_path %></li>
</ul>

<h2>Late</h2>
<ul>
  <li><%= link_to "No Links and No Overlay", explore_l_path %></li>
  <li><%= link_to "Zoomable No Links and No Overlay", explore_l_zoom_path %></li>
</ul>
