<h1>Explore the Salmon Pueblo</h1>

<p>Using the interactive planview map below, you can browse the excavation information by clicking on a particular room, unit or excavation context. <%# TODO [FOR LATER IN THE DEVELOPMENT PROCESS: EXPLAIN THE DIFFERENCE BETWEEN CHACOAN AND SAN JUAN ERA MAPS] %></p>

<p>When you select an individual excavation unit, the map will take you to a new page where you can browse the various categories of information available for that context.  This includes a excavation summaries (overview), field notes, feature descriptions and stratigraphic information from that unit. </p>

</div> <!-- /container -->

<div class="container-fluid">

<div class="row explore_choices">
  <div class="col-sm-6">
    <%= link_to map_path, class: "content explore_callout1 home_callout" do %>
      <div class="explore_inner">
        <div class="row">
          <div class="col-md-9 col-md-offset-3">
            <div class="inner_content">
              <h4>Interactive Map</h4>
              <p>browse the excavation information by clicking on a particular room, unit or excavation context</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div><!-- /col -->
  <div class="col-sm-6">
    <%= link_to units_path, class: "content explore_callout2 home_callout" do %>
      <div class="explore_inner">
        <div class="row">
          <div class="col-md-9 ">
            <div class="inner_content">
              <h4>Browse Units</h4>
              <p>Search and browse by Units</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div><!-- /col -->
</div><!-- /row -->

