<h1>Explore the Salmon Pueblo</h1>

<p>Using the interactive planview map below, you can browse the excavation information by clicking on a particular room, unit or excavation context. <%# TODO [FOR LATER IN THE DEVELOPMENT PROCESS: EXPLAIN THE DIFFERENCE BETWEEN CHACOAN AND SAN JUAN ERA MAPS] %></p>

<p>When you select an individual excavation unit, the map will take you to a new page where you can browse the various categories of information available for that context.  This includes a excavation summaries (overview), field notes, feature descriptions and stratigraphic information from that unit. </p>

<div class="row">
  <!-- map -->
  <div class="col-md-6">
    <p>Delve Into the Interactive Map</p>
    <%= link_to explore_e_zoom_path do %>
      <%= image_tag "map_thumb", size: "305x159" %>
    <% end %>
  </div>

  <!-- unit search -->
  <div class="col-md-6">
    <p>Search and Browse by Units</p>
    <%= link_to units_path do %>
      <%= image_tag "documents/placeholders/MM", size: "325x234" %>
    <% end %>
  </div>
</div>
