<h1>Explore the Salmon Pueblo</h1>

<div class="row">
  <!-- map -->
  <div class="col-md-6">
    <p>Delve Into the Interactive Map</p>
    <%= link_to explore_e_zoom_path do %>
      <%= image_tag "map_thumb", size: "305x159" %>
    <% end %>
  </div>

  <!-- unit search -->
  <div class="col-md-6">
    <p>Search and Browse by Units</p>
    <%= link_to units_path do %>
      <%= image_tag "documents/placeholders/MM", size: "325x234" %>
    <% end %>
  </div>
</div>
