<table><tr>
	<% 
	@sites = Site.where("popular_name is not null and popular_name != '' and display=true").order('popular_name asc')
	str = ''
	x=0
	%>
	<% @sites.each do |site| %>
	
	  	<td valign="top"><input type="checkbox" value="<%= site.id %>" id="<%= site.id %>" name="site"><label for="<%= site.id %>"><%= site.popular_name %></label></td>
		<% x += 1 %>
		<% if x > 2 %>	
			</tr><tr>
			<% x=0 %>
		<% end %>
	<% end %>
</tr></table>
